
@font-face{ font-family: 'Futura'; src: url('../font/futura_light.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face{ font-family: 'Futura'; src: url('../font/futura_medium.woff') format('woff'); font-weight: bold; font-style: normal; }
@font-face{ font-family: 'Futura'; src: url('../font/futura_bold.woff') format('woff'); font-weight: 900; font-style: normal; }
@font-face{ font-family: 'Open Sans'; src: url('../font/opensans.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face{ font-family: 'Open Sans'; src: url('../font/opensans_bold.woff') format('woff'); font-weight: bold; font-style: normal; }
@font-face{ font-family: 'Open Sans'; src: url('../font/opensans_italic.woff') format('woff'); font-weight: normal; font-style: italic; }
@font-face{ font-family: 'LCDNova'; src: url('../font/lcdnova.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face{ font-family: 'Helvetica'; src: url('../font/helvetica.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face{ font-family: 'Helvetica'; src: url('../font/helvetica_bold.woff') format('woff'); font-weight: bold; font-style: normal; }



@import 'mixin/media';
@import 'mixin/mixin';
@import 'mixin/style';


html{ width: 100%; height: 100%; }

body{
	margin: 0;
	padding: 0;
	font: 0 $mainfont;
	color: $maincolor;
	height: 100%;
}

.noscroll{ overflow: hidden; }

img{ border: 0; }

.lfloat{ float: left !important; }
.rfloat{ float: right !important; }
.ltext{ text-align: left !important; }
.rtext{ text-align: right !important; }
.ctext{ text-align: center !important; }

.pos{ color: $green !important; }
.neg{ color: $red !important; }

a{
	color: $maincolor;
	text-decoration: none;

	&:hover{
		color: $gray;
	}
}

.nowrap{ white-space: nowrap !important; }
ul, ol, li{ margin: 0; padding: 0; list-style: none; line-height: 1em; }
table{ border-collapse: collapse; }

.hsep:after{
	@include pseudoel;
	clear: both !important;
}

.mobshow{
	@include nonmobile{
		display: none !important;
	}
}

.mobhide{
	@include mobile{
		display: none !important;
	}
}






/* формы и кнопки */
@import 'block/form';

/* системные сообщения */
@import 'block/feedback';

/* иконки */
@import 'block/icon';

/* шапка */
@import 'block/header';

/* меню */
@import 'block/menu';

/* контент */
@import 'block/content';

/* главная */
@import 'block/index';

/* главная - черная пятница */
@import 'block/index_friday';

/* подвал */
@import 'block/footer';

/* каталог */
@import 'block/catalog';

/* товар */
@import 'block/product';

/* корзина */
@import 'block/cart';

/* модальные окна */
@import 'block/modwin';

/* тексты */
@import 'block/text';

/* магазины */
@import 'block/shop';

/* contest ashgirl */
@import 'block/contest_ashgirl';

/* black friday */
// @import 'block/blackfriday';

/* счетчик */
@import 'block/timer';

/* private sale */
@import 'block/privatesale';

/* gift card */
@import 'block/giftcard';

/* ashgirls */
@import 'block/landing_ashgirls';

/* reash */
@import 'block/landing_reash';

/* sale */
@import 'block/landing_sale';

/* new year */
// @import 'block/newyear';

/* jQuery Slider */
@import 'plugin/jquery-slider';

/* jQuery Slider */
@import 'plugin/jquery-datepicker';

/* Glide carousel */
@import 'plugin/glide';
