/*@font-face {*/
/*    font-family: "HelveticaBold";*/
/*    src: url(../font/ocr_onectt.woff);*/
/*    src: url(../font/HelveticaBold/HelveticaBold.eot?#iefix) format("embedded-opentype"), url(../font/HelveticaBold/HelveticaBold.woff) format("woff"), url(../font/HelveticaBold/HelveticaBold.ttf) format("truetype");*/
/*    font-style: normal;*/
/*    font-weight: 400*/
/*}*/

@font-face {
    font-family: ocr_onectt;
    font-style: normal;
    font-weight: 400;
    src: local('OCR_OneCTT'), local('OCR_OneCTT-Regular'), url(../font/ocr_onectt.woff) format('woff'), url(../font/ocr_onectt.ttf) format('truetype')
}

.reash {
    position: relative;
    width: 100%;
    margin-top: -25px;
    margin-bottom: 0;
    padding-bottom: 50px;
    background-color: #FBF2E9;
    -webkit-font-smoothing: antialiased;
}

.reash img {
    display: block;
    max-width: 100%;
    height: auto
}

.reash a {
    text-decoration: none
}

.reash__img img {

}

.reash__custom-row-1 {
    display: flex;
    margin-bottom: 30px;
}

.custom-row-1__title {
    position: relative;
    width: 291px;
    height: 293px;
    flex-shrink: 0;
}

.custom-row-1__title-block {
    position: absolute;
    top: 0;
    left: 78px;
    width: 213px;
    height: 293px;
    background: #7AA18C;
    z-index: 10;
}

.custom-row-1__title-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.custom-row-1__title-text {
    position: absolute;
    z-index: 15;
    top: 14px;
    left: 113px;
    font-family: 'OCR_OneCTT', arial;
    font-weight: normal;
    font-size: 48px;
    line-height: 44px;
    text-transform: uppercase;
    color: #000000;
    /*font-family: 'Ubuntu', sans-serif;*/
    /*font-family: 'Ubuntu Mono', monospace;*/
}

.custom-row-1__desc {
    flex-grow: 1;
    padding-top: 60px;
    padding-left: 18px;
}

.custom-row-1__desc-title {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 48px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 38px;
}

.custom-row-1__desc-text {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.reash__custom-center-img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 30;
}

.reash__custom-center-img-text {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%) rotate(-90deg);
    font-family: 'ocr_onectt', arial;
    font-weight: normal;
    font-size: 48px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}


.custom-row-1__title-block img {
    position: absolute;
    top: 0;
    left: 0;
    width: 113px;
    height: 293px;
    object-fit: cover;
}

.reash__mission {
    position: relative;
    margin-top: -148px;
    background: #7E9A8B;
    padding-top: 222px;
    padding-bottom: 18px;
}

.reash__mission-bg {
    position: absolute;
    left: 0;
    top: 0;
}

.reash__mission-card {
    position: relative;
    z-index: 20;
    display: flex;
    align-items: flex-start;
    padding: 0 28px;
}

.reash__mission-card-text {
    padding-left: 40px;
}

.reash__mission-card-title {
    margin-top: 10px;
    font-family: 'ocr_onectt', arial;
    font-weight: normal;
    font-size: 120px;
    line-height: 112px;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 34px;
    margin-left: -10px;
}

.reash__mission-card-list {
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.reash__mission-card-list p {
    margin-bottom: 24px;
}

.reash__video {
    position: relative;
}

.reash__video-yt {
    width: 612px;
    height: 346px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*padding-bottom: 56.25%; */
    /*height: 0;*/
    overflow: hidden;
}

.reash__video-yt iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}

.reash__step {
    margin-top: 76px;
}

.reash__step .reash__step-row-text {
    padding-left: 30px;
}

.reash__step-title {
    font-family: 'ocr_onectt', arial;
    font-size: 80px;
    line-height: 74px;
    text-align: center;
    text-transform: uppercase;
    color: #C0C6E5;
    margin-bottom: 48px;
}

.reash__step-row {
    display: flex;
    align-items: center;
    padding: 0 54px;
    margin-bottom: 40px;
}

.reash__step-row--single {
    margin-top: 18px;
}

.reash__step-row--single img {
    flex-shrink: 0;
}

.reash__step-row--single .reash__step-row-text {
    padding-left: 62px;
}

.reash__step-row-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.reash__step-images {
    position:relative;
    display: flex;
    padding: 0 54px;
    margin: 0 -4px 94px;
}

.reash__step-images-half {
    margin: 0 4px;
}

.reash__step-images-last {
    position: absolute;
    bottom: -90px;
    right: 57px;
}

.reash__step-desc {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 26px;
    text-transform: uppercase;

    color: #000000;
    margin-bottom: 48px;
}

.reash__step-desc--left {
    padding: 0 58px;
    text-align: left;
}

.reash__step-desc--center {
    margin-top: 48px;
    padding: 0 66px;
    text-align: center;
}

.reash__button {
    display: block;
    width: 296px;
    height: 70px;
    margin: 48px auto 0;
    background: #000000;
    font-weight: bold;
    font-size: 22px;
    line-height: 70px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}


@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 860px) {
    .reash {
        margin-top: 0;
        padding-bottom: 30px;
    }
    .custom-row-1__title {
        display: none;
    }

    .reash__custom-row-1 {
        margin-bottom: 42px;
    }

    .custom-row-1__desc {
        padding-top: 28px;
        padding-left: 0;
    }

    .custom-row-1__desc-title {
        font-size: 38px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .custom-row-1__desc-text {
        font-size: 20px;
        line-height: 24px;
        padding: 0 12px;
    }

    .custom-row-1__desc-text br{
        display: none;
    }

    .reash__custom-center-img-text {
        position: relative;
        transform: none;
        font-size: 28px;
        line-height: 28px;
        margin-bottom: -10px;
    }

    .reash__mission {
        margin-top: 36px;
        padding-top: 24px;
    }

    .reash__mission-card {
        display: block;
    }

    .reash__mission-card-img {
        margin: 0 auto;
    }

    .reash__mission-card-text {
        padding-left: 0;
    }

    .reash__mission-card-title {
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .reash__mission-card-list {
        font-size: 17px;
        line-height: 22px;
    }

    .reash__mission-card-list p {
        margin-bottom: 14px;
    }

    .reash__video {
        margin-top: 32px;
    }

    .reash__video img {
        display: none;
    }

    .reash__video-yt {
        width: auto;
        position: static;
        transform: none;
        padding-bottom: 56.25%;
        height: 0;
    }

    .reash__step {
        margin-top: 30px;
    }

    .reash__step-title {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 26px;
    }

    .reash__step-row {
        padding: 0 12px;
        margin-bottom: 24px;
    }

    .reash__step-row img {
        display: none;

    }

    .reash__step .reash__step-row-text {
        padding-left: 0;
    }

    .reash__step-row-text {
        font-size: 16px;
        line-height: 22px;
    }

    .reash__step-images {
        display: block;
        padding: 0 12px;
        margin: 0 0 26px;
    }

    .reash__step-images-half {
        margin: 0 auto 10px;
    }

    img.reash__step-images-last {
        display: none;
    }

    .reash__step-desc {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 26px;
        text-align: center;
    }

    .reash__step-desc--left {
        padding: 0 12px;
        text-align: center;
    }

    .reash__step-desc--center {
        padding: 0 12px;
        margin-top: 24px;

    }

    .reash__step-row--single .reash__step-row-text {
        padding-left: 0;
        text-align: center;
    }

    .reash__button {
        width: 260px;
        height: 56px;
        font-size: 18px;
        line-height: 56px;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {

}