.promo {
    max-width: 720px;
    margin: 50px auto;
}
.promo__wrapper {
    padding: 0 40px;
}
.promo img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.promo h1 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-bottom: 42px;
}
.promo p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-bottom: 54px;
}
.promo p.is-upcase {
    text-transform: uppercase;
}
.promo span {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #C4C4C4;
}
.promo__yt {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 10px;
}
.promo__yt iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}
.promo__img-1 {
    margin-bottom: 40px;
}
.promo__img-2 {
    margin-bottom: 62px;
}

@media all and (max-width: 767px) {
    .promo {
        margin-top: 90px;
        margin-bottom: 30px;
    }
    .promo__wrapper {
        padding: 0;
    }
    .promo h1 {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 20px;
    }
    .promo p {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 26px;
    }
    .promo span {
        font-size: 10px;
        line-height: 11px;
    }
    .promo__yt {
        margin-bottom: 5px;
    }
    .promo__img-1 {
        margin-bottom: 16px;
    }
    .promo__img-2 {
        margin-bottom: 24px;
    }
    .promo picture {
        display: block;
        margin: 0 -10px;
    }
}