/*@font-face {*/
/*    font-family: "HelveticaBold";*/
/*    src: url(../font/ocr_onectt.woff);*/
/*    src: url(../font/HelveticaBold/HelveticaBold.eot?#iefix) format("embedded-opentype"), url(../font/HelveticaBold/HelveticaBold.woff) format("woff"), url(../font/HelveticaBold/HelveticaBold.ttf) format("truetype");*/
/*    font-style: normal;*/
/*    font-weight: 400*/
/*}*/

@font-face {
    font-family: ocr_onectt;
    font-style: normal;
    font-weight: 400;
    src: local('OCR_OneCTT'), local('OCR_OneCTT-Regular'), url(../font/ocr_onectt.woff) format('woff'), url(../font/ocr_onectt.ttf) format('truetype')
}

.kind {
    position: relative;
    margin-bottom: 0;
    padding: 10px 0 50px;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
.kind__container {
    padding: 0 36px;
}

.kind img {
    display: block;
    max-width: 100%;
    height: auto
}

.kind a {
    text-decoration: none
}

.kind__love {
    background: #FBF2E9;
}

.kind__header-title {
    font-family: 'OCR_OneCTT', arial;
    font-weight: normal;
    font-size: 50px;
    line-height: 92.19%;
    color: #C0C6E5;
    text-align: center;
    margin-bottom: 34px;
}

.kind__header {
    margin-bottom: 70px;
}

.kind__header p {
    max-width: 770px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 20px;
    color: #000000;
}

.kind__gif {
    position: relative;
    flex-shrink: 0;
}

.kind__gif--v1 {
    width: 456px;
    height: 702px;
}

.kind__gif--v2 {
    width: 411px;
    height: 539px;
}

.kind__gif--v3 {
    width: 413px;
    height: 549px;
}

.kind__gif--v4 {
    width: 409px;
    height: 632px;
}

.kind__gif--v5 {
    width: 409px;
    height: 617px;
}

.kind__desktop {
    display: block;
}

.kind__mobile {
    display: none!important;
}


.kind__gif img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

.kind__gif img:nth-child(1) {
    opacity: 1;
}
.kind__gif img:nth-child(2) {
    animation: anim 1200ms infinite alternate;
}

@keyframes anim {
    0% {
        opacity: 0;
    }
    36.36% {
        opacity: 0;
    }
    63.63% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.kind__love-title {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 67px;
    line-height: 79px;
    text-transform: uppercase;
    color: #729E8C;
    margin: 0 0 36px;
}

.kind__love-desc {
    width: 404px;
}

.kind__love-desc p {
    font-family: 'Roboto';
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px;
}

.kind__love-desc p:last-child {
    margin-bottom: 0;
}

.kind__flex-between {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.kind__love-half {
    padding-left: 32px;
    margin-top: -36px;
}

.kind__love-2 {
    margin-top: 50px;
}

.kind__love-2-title {
    width: 484px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #DA5E3A;
}

.kind__padding-60 {
    padding: 0 64px;
}


.kind__flex-between--love {
    margin-top: 20px;
}

.kind__flex-between--love img {
    position: relative;
    top: -152px;
}

.kind__video {
    position: relative;
    width: 100%;
    height: 420px;
    margin-bottom: 92px;
}

.kind__video-yt {
    width: 668px;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*padding-bottom: 56.25%;*/
    /*height: 0;*/
    overflow: hidden;
}

.kind__video-yt iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}

.kind__video--blue {
    background: #C0C6E5;
}

.kind__video--live {
    position: relative;
    margin-top: 3px;
    margin-bottom: 0;
    z-index: 10;
}

.kind__relative {
    position: relative;
}

.kind__love-3-title {
    position: absolute;
    top: -116px;
    right: 36px;
    width: 484px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C0C6E5;
}

.kind__flex-between--love-2 {
    margin-top: 26px;
    padding-bottom: 102px;
}

.kind__flex-between--love-2 img:nth-child(2) {
    margin-top: -43px;
}

.kind__live {
    position: relative;
    padding-top: 72px;
    background: rgba(192, 198, 229, 0.4);
}

.kind__bg-white {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
}

.kind__flex-between--relative {
    position: relative;
    z-index: 3;
}

.kind__bg-white--strong {
    height: 286px;
}

.kind__live-desc {
    width: 465px;
}

.kind__live-desc p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0 0 22px;
    color: #FFFFFF;
}

.kind__live-half--v1 .kind__gif {
    margin-top: 30px;
    margin-bottom: 40px;
}

.kind__live-half--v1 img {
    margin-left: auto;
}

.kind__live-other {
    margin-top: 30px;
}

.kind__live-other-row {
    margin-top: 48px;
    display: flex;
    align-items: center;
}

.kind__live-title {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 96px;
    line-height: 112px;
    text-transform: uppercase;
    color: #FBF2E9;
    margin: 0 0 40px;
}

.kind__live-other-title {
    position: absolute;
    top: -150px;
    right: 18px;
    width: 550px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #7E9A8B;
}

.kind__flex-between--live {
    margin-top: 31px;
    margin-bottom: 120px;
}













.kind__strong {
    position: relative;
    background: #7AA18C;
}

.kind__strong-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 112px;
    text-transform: uppercase;
    margin: 0 0 42px;
    color: #FBF2E9;
}

.kind__strong-half:nth-child(1) .kind__gif {
    margin-bottom: 46px;
}

.kind__strong-half:nth-child(2) {
    padding-left: 30px;
    margin-top: -54px;
}

.kind__strong-desc {
    width: 437px;
}

.kind__strong-desc p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0 0 26px;

    color: #FFFFFF;
}

.kind__strong-title-sub {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #C0C6E5;
}

.kind__strong-img {
    margin: 0 auto;
}

.kind__video--strong {
    margin-top: 27px;
    margin-bottom: 30px;
}

.kind__spirit {
    margin-top: 40px;
}


.kind__spirit-title {
    position: absolute;
    top: -134px;
    left: 100px;
    width: 475px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #7AA18C;
}

.kind__spirit-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.kind__flex-between-spirit--v1 {
    margin-bottom: 70px;
}

.kind__flex-between-spirit--v1 img:nth-child(2) {
    margin-top: 84px;
}

.kind__flex-between-spirit--v3 img:nth-child(2) {
    margin-top: 95px;
    margin-right: 62px;
}

.kind__flex-between-spirit--v2 {
    align-items: center;
    margin-bottom: 30px;
    padding: 0 64px;
}




/*.kind__spirit-row--v1 img:nth-child(1) {*/
/*    margin-left: 64px;*/
/*}*/

/*.kind__spirit-row--v1 img:nth-child(1) {*/
/*    margin-left: 64px;*/
/*}*/

.kind__spirit-button {
    padding: 55px 0;
    max-width: 678px;
    margin: 72px auto 20px;
    display: block;
    background: #729E8C;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}


@media only screen and (max-width: 960px) {
    .kind {
        padding-top: 0;
        overflow: hidden;
        margin: -14px -10px 26px;
        padding-bottom: 24px;
    }

    .kind__flex-between {
        align-items: center;
    }

    .kind__mobile {
        display: block;
    }

    .kind__desktop {
        display: none!important;
    }

    .kind__container {
        padding: 0 20px;
    }

    .kind__gif {
        width: auto;
        height: auto;
    }

    .kind__video {
        width: auto;
        margin: 0 -20px 30px;
        padding-bottom: 56.25%;
        height: auto;
    }

    .kind__video-yt {
        position: absolute;
        width: calc(100% - 40px);
        height: calc(100% - 16px);
        top: 8px;
        left: 20px;
        transform: none;
    }


    .kind__gif--v1 {
        padding-top: 165%;
    }

    .kind__gif--v2 {
        padding-top: 136%;
    }

    .kind__gif--v3 {
        padding-top: 132%;
    }

    .kind__gif--v4 {
        padding-top: 144%;
    }

    .kind__gif--v5 {
        padding-top: 65%;
    }


    .kind__header {
        margin-bottom: 24px;
        padding: 0 26px;
    }

    .kind__header-title {
        font-size: 24px;
        margin-bottom: 24px;
    }

    .kind__header p {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 14px;
    }

    .kind__love-title {
        padding-top: 16px;
        font-size: 44px;
        line-height: 52px;
        margin-bottom: 10px;
    }

    .kind__love-half {
        margin-top: 0;
        padding-left: 0;
    }

    .kind__love-desc p {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 16px;
    }

    .kind__flex-between--mobile {
        display: block;
    }

    .kind__flex-between--love-2 {
        flex-direction: column-reverse;
        padding-bottom: 24px;
    }

    .kind__flex-between--column {
        flex-direction: column;
    }

    .kind__flex-between--column img:nth-child(1) {
        width: 55%;
        margin-left: auto;
        margin-bottom: -64px;
        z-index: 1;
    }

    .kind__flex-between--column img:nth-child(2) {
        width: 70%;
        margin-right: auto;
    }

    .kind__flex-between--love {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .kind__love-2--ico {
        position: absolute;
        top: 30px;
        left: 10px;
        width: 40%;
    }

    .kind__love-2-title {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 123px;
        font-size: 16px;
        line-height: 19px;
    }

    .kind__padding-60 {
        padding: 0;
    }

    .kind__love-2 {
        position: relative;
        margin-top: 24px;
    }

    .kind__love-3-img {
        width: calc(100% - 60px);
        margin: 0 auto 42px;
    }

    .kind__live {
        padding-top: 16px;
    }

    .kind__live-title {
        font-size: 56px;
        line-height: 66px;
        margin-bottom: 24px;
    }

    .kind__live-desc p {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 16px;
    }

    .kind__bg-white {
        height: 46px;
    }

    .kind__flex-between--reverse {
        flex-direction: column-reverse;
    }

    .kind__strong-title {
        font-size: 58px;
        line-height: 68px;
        margin-bottom: 14px;
        margin-top: -30px;
    }

    .kind__strong-desc p {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 16px;
    }

    .kind__strong-half:nth-child(2) {
        padding-left: 0;
        margin-top: 0;
    }

    .kind__strong-title-sub {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 20px;
    }

    .kind__flex-between-spirit--v1 {
        justify-content: center;
    }

    .kind__flex-between-spirit--v1 img:nth-child(2) {

    }

    .kind__spirit-button {
        margin-top: 30px;
        padding: 22px 0;
        font-size: 15px;
        line-height: 18px;
    }

    .kind__live-other-row {
        margin-top: 0;
        margin-bottom: 26px;
        padding: 0 16px;
    }

    .kind__live-other-row img {
        width: 50%;
    }

    .kind__love-desc {
        margin-top: 24px;
        width: 100%;
    }

    .kind__live-desc {
        margin-top: 18px;
        width: 100%;
    }

    .kind__live-half--v1 {
        padding-top: 10px;
        margin-bottom: 24px;
    }

    .kind__live-half--v1 img {
        width: 68%;
    }

    .kind__love-3-title {
        margin-top: 34px;
        position: static;
        width: 263px;
        font-size: 16px;
        line-height: 19px;
    }

    .kind__flex-between--love-2 img:nth-child(2) {
        margin-top: -50px;
        margin-bottom: 36px;
        margin-left: auto;
        width: 75%;
    }

    .kind__flex-between--love-2 img:nth-child(1) {
        width: 80%;
        margin-right: auto;
    }

    .kind__live-other-title {
        width: 133px;
        top: -250px;
        right: 0;
        font-size: 16px;
        line-height: 19px;
    }

    .kind__live-img {
        width: 65%;
        margin-right: auto;
    }

    .kind__flex-between--live {
        margin-top: 16px;
        margin-bottom: 52px;
        align-items: center;
    }

    .kind__flex-between--live > img {
        width: 53%;
        margin-left: 8px;
    }

    .kind__flex-between--live .kind__gif {
        width: 46%;
    }

    .kind__strong {
        padding-bottom: 80px;
    }

    .kind__strong-half {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .kind__strong-half:nth-child(1) .kind__gif {
        margin-bottom: 30px;
    }

    .kind__strong-desc {
        width: 100%;
    }

    .kind__spirit {
        position: relative;
        z-index: 1;
        margin-top: 0;
    }

    .kind__spirit-title {
        top: -148px;
        left: 0;
        width: 184px;
        font-size: 16px;
        line-height: 19px;
    }

    .kind__flex-between-spirit--v1 {
        width: calc(100% - 100px);
        margin: -86px auto 76px;
    }

    .kind__flex-between-spirit--v2 {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .kind__flex-between-spirit--v2 img:nth-child(1) {
        width: 51%;
        margin-left: auto;
        margin-bottom: -80px;
        z-index: 1;
    }

    .kind__flex-between-spirit--v2 img:nth-child(2) {
        width: 64%;
        margin-right: auto;
    }

    .kind__flex-between-spirit--v3 {
        align-items: flex-start;
    }

    .kind__flex-between-spirit--v3 img:nth-child(1) {
        width: 52%;
    }

    .kind__flex-between-spirit--v3 img:nth-child(2) {
        width: 44%;
        margin-top: -50px;
        margin-right: 0;
        margin-left: auto;

    }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {

}