.b-login
    .b-login__wrap
        .b-login__title Авторизоваться на сайте
        .b-login__social
            include ../blocks/_social_2
        .b-login__desc Авторизуясь , Вы даете согласие на обработку своих
            a(href='')  персональных данных

