#popup.b-popup.mfp-hide
    .b-popup__wrap
        .b-popup__title Ошибка на сайте
        .b-popup__error
        form.b-form
            .b-form__item
                textarea(placeholder='Опишите ошибку')

            button(type='submit') Отправить

