mixin form(name, phone, email, comment)
    form.b-form.b-popup__form(method="post")
        input(type='hidden' name='' value='' required)
        .b-form__wrapper
            -if(name)
                p.b-form__item
                    label
                        input(type="text" name="form_text_1" required)
                        span.b-form__item-label Ваше имя
            -if(email)
                p.b-form__item
                    label
                        input(type="email" name="form_text_3" required)
                        span.b-form__item-label Ваша почта
            -if(phone)
                p.b-form__item
                    label
                        input(type="phone" name="form_text_2" required).phone-mask
                        span.b-form__item-label Ваш телефон

            -if(comment)
                p.b-form__item
                    label
                        textarea(name="USER_COMMENT" required)
                        span.b-form__item-label= 'Ваш комментарий к заявке'
            button.btn.btn--black.b-form__btn заказать консультацию
            div.b-form__conditions
                p Заполнив форму, вы принимаете
                    a(href="#")  условия соглашения об использовании сайта 
                    |  в том числе в части обработки и использования персональных данных.
        div.b-form__message
                h2 Спасибо за заявку
                p Наш менеджер свяжется с&nbsp;вами в&nbsp;ближайшее время