mixin fullscreen-slide--product-swiper(title, desc, href, img)
    .slide-inner.b-fullscreen-slide__item.js-slide(
    data-slider-title=title
    data-slider-desc=desc
    data-slider-href=href)
        img(src=img)