//-source     - {String}  - путь до картиинки
//-alt        - {String}  - альтернатиный текст для тега img
//-imageWudth - {Number}  - указывается, когда картинка меньше 2560px и нужно сгенерировать не все source
//-webp       - {Boolean} - добавляет в тег генерацию webp формата, но не удаляет основной формат, т.е. будет,
//- допустим, и jpg и webp

mixin img(source, alts)

    img(src=source alt=alts)