mixin product_card(src, title, desc)
    a.product-card(href='')
        .product-card__img
            img(src=src)
        .product-card__info
            .product-card__title #{title}
            .product-card__desc #{desc}