

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'), url('./fonts/Roboto/Robotolight.woff2') format('woff2'), url('./fonts/Roboto/Robotolight.woff') format('woff'), url('./fonts/Roboto/Robotolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('./fonts/Roboto/Robotolightitalic.woff2') format('woff2'), url('./fonts/Roboto/Robotolightitalic.woff') format('woff'), url('./fonts/Roboto/Robotolightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'), url('./fonts/Roboto/Roboto.woff2') format('woff2'), url('./fonts/Roboto/Roboto.woff') format('woff'), url('./fonts/Roboto/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'), url('./fonts/Roboto/Robotomedium.woff2') format('woff2'), url('./fonts/Roboto/Robotomedium.woff') format('woff'), url('./fonts/Roboto/Robotomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Light'), local('Gilroy-Light'), url('http://hb.bizmrg.com/fonts/gilroy/300.woff2') format('woff2'), url('http://hb.bizmrg.com/fonts/gilroy/300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('http://hb.bizmrg.com/fonts/gilroy/800.woff2') format('woff2'), url('http://hb.bizmrg.com/fonts/gilroy/800.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}


