a {
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  font-family: $Gilroy;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: $black;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 1.2px;
}

h2 {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.21;
  letter-spacing: 1px;
}
