include mixins/_all-mixins
doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(name="format-detection" content="telephone=no")

        link(rel='stylesheet' href="./css/style.css")

        block title
            title Заголовок по умолчанию
    body#top
        include blocks/_b-header--v2
        //include blocks/_b-aside

        .page
            block content

        include blocks/_b-footer

    script(async defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
    script(src="./js/bundle.js")
