include mixins/_all-mixins
doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(name="format-detection" content="telephone=no")

        link(rel='stylesheet' href="./css/style.css")

        block title
            title Заголовок по умолчанию
    body#top
        include blocks/_b-header--v2
        //include blocks/_b-aside

        .page
            block content

        include blocks/_b-footer

    //script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
    //script(src="//yastatic.net/share2/share.js")
    //script(src='https://www.youtube.com/iframe_api')
    //script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRIj4H-aE1sWZ3_QyLEN1X4mXp6pN5aPk")
    script(src="./js/bundle.js")
