include mixins/_all-mixins
doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(name="format-detection" content="telephone=no")

        link(rel='stylesheet' href="./css/style.css")

        block title
            title Заголовок по умолчанию
    body#top
        include blocks/_b-header--v2
        //include blocks/_b-aside

        .page
            block content

        include blocks/_b-footer
        #main-popup.b-main-popup.mfp-hide
            .b-main-popup__wrap
                .b-main-popup__title Запись на консультацию
                form.b-main-popup__formform.b-form
                    .b-form__content
                        .b-form__item
                            input(type='text' placeholder='Ваше имя' required)
                        .b-form__item
                            input(type='tel' placeholder='Возраст' required)
                        .b-form__item
                            input(type='text' placeholder='Тип операции' required)
                        .b-form__item
                            textarea(placeholder='Описание' required)

                    .b-form__submit
                        button Записаться
                    p Нажимая на кнопку "Записаться на прием", вы принимаете условия
                        a(href='') Cоглашения об использовании сайта
    script(async defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
    script(src="./js/bundle.js")
