extends _layout_with_lg_header
block title
    title Контакты
block content

    -var icon = './images/contacts/header_services@2x.jpg'




    .b-main
        #scroll-more.b-main__content.b-main__content--contacts
            .container
                h2 Контакты
                .b-main__contacts
                    .contacts-people
                        img(src=icon alt='')
                        .contacts-people__wrap
                            p
                             b Ксения Карасева
                             |  (Администратор)
                            p
                                a(href='tel:74951182511') + 7 (495) 118 25 11,
                                a(href='tel:79169906297')  +7 (916) 990 62 97
                            p
                                a(href='mailto:info@doctorproff.ru') info@doctorproff.ru
                    .contacts-address
                        .contacts-address__wrap
                            .contacts-dot
                                p 115682, г. Москва,
                                p Ореховый бульвар, д. 28
                                p (бесплатная охраняемая парковка)
                                .contacts-dot__tab.active
                                    span МЕТРО КРАСНОГВАРДЕЙСКАЯ
                            .contacts-dot
                                p 115035, г. Москва,
                                p Овчинниковская набережная, д. 8А
                                p (городская парковка)
                                .contacts-dot__tab
                                    span МЕТРО НОВОКУЗНЕЦКАЯ
                .b-main__map
                    #map

                .b-main__request
                    h2 Отправить заявку
                        br
                        | на бесплатный прием
                        br
                        | прямо сейчас

                    .tablets.tablets--two-up
                    .tablets.tablets--one
                    .tablets.tablets--three
                    .tablets.tablets--two-down

                    form.b-form
                        .b-form__content
                            .b-form__item
                                input(type='text' placeholder='Ваше имя' required)
                            .b-form__item
                                input(type='tel' placeholder='Ваш телефон' required)
                            .b-form__item
                                input(type='text' placeholder='Вид операции' required)
                        p Нажимая на кнопку "Отправить", вы принимаете условия
                            a(href='')  Cоглашения об использовании сайта
                        .b-form__submit
                            button Отправить
















