doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        link(rel='stylesheet' href="/styles/guideline.css")
        title Гайдлайн проекта
    body
        // Сверстанные страницы
        -var links = []

        -links.push({'url': 'home', 'name': 'Главная'});
        -links.push({'url': 'endocrina_main', 'name': 'Эндокринная Главная'});
        -links.push({'url': 'endocrina_doctor', 'name': 'Эндокринная Доктор'});
        -links.push({'url': 'endocrina_clinic', 'name': 'Эндокринная Клиника'});
        -links.push({'url': 'endocrina_services', 'name': 'Эндокринная Услуги и цены'});
        -links.push({'url': 'endocrina_contacts', 'name': 'Эндокринная Контакты'});
        -links.push({'url': 'endocrina_installment', 'name': 'Эндокринная Расрочка'});
        -links.push({'url': 'endocrina_reviews', 'name': 'Эндокринная Отзывы'});
        -links.push({'url': 'e', 'name': '----===----'});
        -links.push({'url': 'plastica_main', 'name': 'Пластическая Главная'});
        -links.push({'url': 'plastica_doctor', 'name': 'Пластическая Доктор'});
        -links.push({'url': 'plastica_clinic_v1', 'name': 'Пластическая Клиника на Новокузнецкой'});
        -links.push({'url': 'plastica_clinic_v2', 'name': 'Пластическая Клиника на Красногвардейской'});
        -links.push({'url': 'plastica_services', 'name': 'Пластическая Услуги и цены'});
        -links.push({'url': '', 'name': '----===----'});
        -links.push({'url': 'serdechno_main', 'name': 'Сердечная Главная'});
        -links.push({'url': 'serdechno_doctor', 'name': 'Сердечная Доктор'});
        -links.push({'url': 'serdechno_services', 'name': 'Сердечная Услуги и цены'});
        -links.push({'url': 'serdechno_clinic', 'name': 'Сердечная Клиника'});




        h2 Список свёрстанных страниц
        ol
            each link in links
                li
                    a(href!=link.url+'.html')=link.name
