extends _layout_with_lg_header
block title
    title Услуги и цены
block content

    -var sliderFullpage = './images/main/slider/endocriniya_slider.png'
    -var headerImg = './images/services/serdechno/serdechno-services@2x.jpg'
    -var popup_slider = './images/services/slider-popup.jpg'
    -var human = './images/services/290@3x.png'

    -var head = './images/services/head_transparent.png'
    -var headActive = './images/services/head_color.png'

    -var breast = './images/services/breast_transparent.png'
    -var breastActive = './images/services/breast_color.png'

    -var body = './images/services/body_transparent.png'
    -var bodyActive = './images/services/body_color.png'



    .b-main
        .b-left-form
            .b-left-form__label Запись на бесплатный прием
            .b-left-form__wrap
                .b-left-form__title Запись на бесплатный прием
                .b-left-form__close
                form.b-form
                    .b-form__content
                        .b-form__item
                            input(type='text' placeholder='Ваше имя' required)
                        .b-form__item
                            input(type='tel' placeholder='Ваш телефон' required)
                    .b-form__submit
                        button Записаться на прием
                    p Нажимая на кнопку "Записаться на прием", вы принимаете условия
                        a(href='') Cоглашения об использовании сайта

        .fullpage-top.fullpage-top--services
            .fullpage-top__img
                img(src=headerImg alt='')

            .container
                .fullpage-top__content
                    .fullpage-top__center
                        .fullpage-top__type
                            .fullpage-top__type-icon.icon-heart
                        .fullpage-top__title Услуги и цены
                        .fullpage-top__sub-title Сердечно-сосудистая хирургия

        #scroll-more.b-main__content.b-main__content--services
            .container
                .b-main__anchor.b-main__anchor--service
                    .b-main__anchor-wrap
                        a(href='#service-arterii').b-main__anchor-item.js-anchor-lg Операции на артерии и вены
                        a(href='#service-rezekzia').b-main__anchor-item.js-anchor-lg Резекция
                        a(href='#service-amputaz').b-main__anchor-item.js-anchor-lg Ампутация
                        a(href='#service-protez').b-main__anchor-item.js-anchor-lg Протезирование (шунтирование)
                        a(href='#service-rekon').b-main__anchor-item.js-anchor-lg Реконструктивные операции
                        a(href='#service-tromb').b-main__anchor-item.js-anchor-lg Тромбэктомия
                        a(href='#service-embol').b-main__anchor-item.js-anchor-lg Эмболэктомия

                .services
                    .services__center
                        #service-arterii.services__title Операции на артерии и вены
                        .services__table
                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Скаленотомия
                                    .services__header-half
                                        .services__price 17 325 р.
                                        a(href='#popup').services__more.js-popup Подробнее
                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Артериализация вен стопы
                                    .services__header-half
                                        .services__price 57 750 р.
                                        a(href='#popup').services__more.js-popup Подробнее

                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Баллонная вазодилятация
                                    .services__header-half
                                        .services__price 57 750 р.
                                        a(href='#popup').services__more.js-popup Подробнее
                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Балонная ангиопластика при сочетанных операциях (без расходных материалов)    
                                    .services__header-half
                                        .services__price 28 875 р.
                                        a(href='#popup').services__more.js-popup Подробнее
                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Балонная ангиопластика со стентированием при сочетанных операциях (без расходных материалов)      
                                    .services__header-half
                                        .services__price 40 425 р.
                                        a(href='#popup').services__more.js-popup Подробнее

                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Грудная симпатэктомия
                                    .services__header-half
                                        .services__price 40 425 р.
                                        a(href='#popup').services__more.js-popup Подробнее

                        #service-rezekzia.services__title Резекция
                        .services__table
                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Коррекция груди липофилингом
                                    .services__header-half
                                        .services__price 52 500 р.
                                        a(href='#popup').services__more.js-popup Подробнее

                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Подтяжка груди
                                    .services__header-half
                                        .services__price 52 500 р.
                                        a(href='#popup').services__more.js-popup Подробнее

                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Увеличение груди
                                    .services__header-half
                                        .services__price 52 500 р.
                                        a(href='#popup').services__more.js-popup Подробнее

                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Коррекция груди липофилингом
                                    .services__header-half
                                        .services__price 52 500 р.
                                        a(href='#popup').services__more.js-popup Подробнее

                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Удаление или замена импланта(ов)
                                    .services__header-half
                                        .services__price 52 500 р.
                                        a(href='#popup').services__more.js-popup Подробнее

                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Уменьшение груди
                                    .services__header-half
                                        .services__price 52 500 р.
                                        a(href='#popup').services__more.js-popup Подробнее


                        #service-amputaz.services__title Ампутация
                        .services__table
                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Армирование кистей золотыми нитями
                                    .services__header-half
                                        .services__price 51 975 р.
                                        a(href='#popup').services__more.js-popup Подробнее


                        #service-protez.services__title Протезирование (шунтирование)
                        .services__table
                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Пластика плеч
                                    .services__header-half
                                        .services__price 52 500 р.
                                        a(href='#popup').services__more.js-popup Подробнее
                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Коррекция липофилингом
                                    .services__header-half
                                        .services__price 52 500 р.
                                        a(href='#popup').services__more.js-popup Подробнее
                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Коррекция пупка
                                    .services__header-half
                                        .services__price 52 500 р.
                                        a(href='#popup').services__more.js-popup Подробнее




                        #service-rekon.services__title Реконструктивные операции
                        .services__table
                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Лабиопластика
                                    .services__header-half
                                        .services__price 80 875 р.
                                        a(href='#popup').services__more.js-popup Подробнее

                        #service-tromb.services__title Тромбэктомия – удаление тромба из сосудов
                        .services__table
                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Пластика плеч
                                    .services__header-half
                                        .services__price 52 500 р.
                                        a(href='#popup').services__more.js-popup Подробнее
                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Коррекция липофилингом
                                    .services__header-half
                                        .services__price 52 500 р.
                                        a(href='#popup').services__more.js-popup Подробнее
                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Коррекция пупка
                                    .services__header-half
                                        .services__price 52 500 р.
                                        a(href='#popup').services__more.js-popup Подробнее




                        #service-embol.services__title Эмболэктомия - хирургическое удаление эмбола для устранения закупорки артерии
                        .services__table
                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Пластика плеч
                                    .services__header-half
                                        .services__price 52 500 р.
                                        a(href='#popup').services__more.js-popup Подробнее
                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Коррекция липофилингом
                                    .services__header-half
                                        .services__price 52 500 р.
                                        a(href='#popup').services__more.js-popup Подробнее
                            .services__item
                                .services__header
                                    .services__header-half
                                        .services__name Коррекция пупка
                                    .services__header-half
                                        .services__price 52 500 р.
                                        a(href='#popup').services__more.js-popup Подробнее



                .b-main__request
                    h2 Отправить заявку
                        br
                        | на бесплатный прием
                        br
                        | прямо сейчас

                    .tablets.tablets--two-up
                    .tablets.tablets--one
                    .tablets.tablets--three
                    .tablets.tablets--two-down

                    form.b-form
                        .b-form__content
                            .b-form__item
                                input(type='text' placeholder='Ваше имя' required)
                            .b-form__item
                                input(type='tel' placeholder='Ваш телефон' required)
                            .b-form__item
                                input(type='text' placeholder='Вид операции' required)
                        p Нажимая на кнопку "Отправить", вы принимаете условия
                            a(href='')  Cоглашения об использовании сайта
                        .b-form__submit
                            button Отправить

    #popup.b-popup.mfp-hide
        .b-popup__wrap
            .b-popup__header
                .b-popup__title
                    h3 Гемитиреоидэктомия с перешейком
                    span доброкачественные узлы
                .b-popup__price
                    p 25 140 р.
                    span цена
            .b-popup__body
                .popup-slider.js-popup-slider
                    .popup-slider__item
                        img(src=popup_slider alt='')
                    .popup-slider__item
                        img(src=popup_slider alt='')
                .b-popup__content
                    h3 Описание операции
                    p Отопластика - пластическая операция, целью которой является устранение деформации, дефекта и улучшение формы ушей (ушных раковин).

                    h3 Показания
                    ul
                        li Устранение лопоухости или оттопыренности ушей;
                        li Коррекция неправильной формы ушных раковин;
                        li Коррекция асимметрии ушей;
                        li Коррекция мочки уха;
                        li Увеличение или уменьшение размеров ушной раковины;
                        li Реконструкция (восстановление) ушной раковины вследствие врожденного или приобретенного дефекта или деформации

                    h3 Противопоказания
                    ul
                        li Декомпенсированный сахарный диабет
                        li Серьёзные сердечно-сосудистые заболевания
                        li Серьезные кардиологические или психические проблемы
                        li Злокачественные новообразования и восстановительный период после курсов химиотерапии
                        li Острые и хронические инфекционные заболевания
                        li Нарушение свертываемости крови
                        li Обострение системных заболеваний соединительной ткани, таких как красная волчанка, ревматизм, гломерулонефрит и др.
                        li Осложненная форма варикоза: тромбоз, тромбофлебит и др.

                    h3 Методика
                    p Зависит от вида вмешательства. Разрез выполняются в складке сзади ушной раковины для того, чтобы затем он был невидимым после операции. В зависимости от вида коррекции производится или резекция хряща, или корригирующие надрезы или наложение моделирующих швов, или комбинация методик для создания ушных раковин желаемой формы.

                    h3 Длительность
                    p 40 мин-1 час. Местная анестезия (±внутривенная седация).

                    h3 Противопоказания
                    ul
                        li Пребывание в стационаре – амбулаторно или 1 сутки;
                        li снятие швов через 7-10 дней после операции;
                        li постоянное ношение компрессионной повязки в течение от 1-2 до 7 суток после операции в зависимости от методики;
                        li следует избегать травматизма ушных раковин в течение месяца после операции.












