.card-education {
  position: relative;
  padding: 0 10px;
  height: 100%;
}

.card-education__wrap {
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: $white;
  border: solid 1px  rgba(84, 196, 208, .4);
}

.card-education__img {
  position: relative;
  width: 100%;
  height: 160px;
  margin-bottom: 15px;
  border-radius: 10px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
  }
}

.card-education__title {
  font-family: $Roboto;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: $black;
}

.card-education__info {
  font-family: $Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $black;
  margin-bottom: 14px;
}

.card-education__number {
  position: absolute;
  right: 28px;
  bottom: -24px;
  font-family: $Gilroy;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: 1.2px;
  text-align: left;
  color: #5ec7d3;
}

.card-certificates {
  padding: 0 10px;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

.card-education__desc {
  font-family: $Roboto;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: $black;

  span {
    display: block;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    text-align: left;

    &:first-child {
      font-family: $Gilroy;
      font-size: 24px;
      letter-spacing: 0.6px;
      color: #5ec7d3;
      margin-bottom: 4px;
    }

    &:last-child {
      font-family: $Roboto;
      font-size: 12px;
      letter-spacing: normal;
      color: #808080;
    }
  }
}
