.card-slider {
  margin-bottom: 100px;

  @include bp($bp-480) {
    margin-bottom: 86px;
  }
}

.card-slider__wrap {
  display: flex;
  width: calc(100% + 20px);
  margin-left: -10px;

  @include bp($bp-1000) {
    flex-wrap: wrap;
  }
}

.card-slider__slider {
  position: relative;
  width: calc(100%/3);
  height: 280px;
  padding: 0 10px;

  @include bp($bp-1000) {
    width: calc(100%/2);

    &:last-child {
      width: calc(100% + 20px);
      margin-left: -10px;
      margin-top: 20px;

      .card-slider__item {
        padding: 0 10px;
      }
    }
  }

  @include bp($bp-640) {
    width: 100%;

    &:first-child {
      margin-bottom: 20px;
    }
  }
}

.card-slider__item {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: relative;
}

.card-slider__slider-wrap {
  width: 100%;
  height: 100%;

  .slick-list {
    width: 100%;
    height: 100%;

    & > div {
      width: 100%;
      height: 100%;
    }
  }

  .slick-slide {
    & > div {
      height: 100%;
    }
  }

  .slick-arrow {
    position: absolute;
    top: 113px;
    margin: auto;
    transform: none;
    z-index: 1000;

    &:before {
      display: none;
    }
  }

  .slick-prev {
    left: auto;
    top: 27px;
    right: 72px;
    @include svg-i-arrow-left_white;
  }

  .slick-next {
    top: 27px;
    right: 20px;
    @include svg-i-arrow-right_white;
  }

  &.js-card-slider-v2 {
    @include bp($bp-1000) {

      .slick-arrow {
        bottom: -55px;
        top: auto;
      }

      .slick-prev {
        right: 0;
        left: -63px;
        @include svg-i-arrow-left_blue;
      }

      .slick-next {
        right: -63px;
        left: 0;
        @include svg-i-arrow-right_blue;
      }

      .card-slider__title-link {
        right: 30px;
      }
    }

    @include bp($bp-480) {
      .slick-arrow {
        bottom: -41px;
      }
    }
  }
}

.card-slider__img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;

  &:after {
    content: '';
    border-radius: 8px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #262727, rgba(47, 128, 138, 0.24));
  }

  img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}

.card-slider__label {
  border-radius: 15px;
  position: absolute;
  top: 20px;
  left: 30px;
  padding: 10px 20px;
  font-family: $Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $white;
  z-index: 10;
}

.card-slider__title {
  width: calc(100% - 40px);
  position: absolute;
  left: 20px;
  bottom: 20px;

  h3 {
    font-family: $Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: $white;
    margin-bottom: 0;
  }
}

.card-slider__title-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;

  p {
    margin-bottom: 0;

    span {
      display: block;
      font-family: $Roboto;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: $white;

      &:first-child {
        margin-bottom: 7px;
      }
    }
  }

  time {
    font-family: $Roboto;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: $white;
  }
}

.card-slider__title-footer {
  margin-bottom: 22px;

  h3 {
    margin-bottom: 13px;
  }

  p {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: $white;
    margin-bottom: 0;
    max-height: 65px;
    overflow: hidden;
  }
}

.card-slider__title-link {
  position: absolute;
  right: 20px;
  bottom: 17px;
  font-family: $Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: $white;
  text-decoration: underline;
}

.card-slider__tabs {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 0 19px;
  display: flex;

  @include bp($bp-480) {
    padding: 0;
  }
}

.card-slider__tabs-items {
  background-color: $white;
  font-family: $Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #1f87a5;
  padding: 10px 0;
  cursor: pointer;
  border-right: 1px solid #1f87a5;
  border-left: 1px solid #1f87a5;
  transition: .3s ease-in-out all;
  outline: none;

  @include bp($bp-1190) {
    font-size: 12px;
  }

  @include bp($bp-480) {
    border-radius: 0!important;
  }

  &:first-child {
    width: 36.8%;
    border-radius: 15px 0 0 15px;

    @include bp($bp-1190) {
      width: 41.8%;
    }
  }

  &:nth-child(2) {
    width: 29.9%;
    margin: 0 -1px;

    @include bp($bp-1190) {
      width: 26.9%;
    }
  }

  &:last-child {
    width: 33.3%;
    border-radius: 0 15px 15px 0;

    @include bp($bp-1190) {
      width: 31.3%;
    }
  }

  &:hover {
    color: $white;
    background-color: #1f87a5;
    border-color: #1f87a5;
  }
}

//
// Modifier
//

.card-slider__label--sale {
  background-color: #19a07b;
}

.card-slider__label--3d {
  background-color: #9b77cd;
}

.card-slider__label--review {
  background-color: $seafoam-blue;
  left: 20px;

  @include bp($bp-1000) {
    left: 30px;
  }
}

.card-slider__tabs-items--active {
  color: $white;
  background-color: #1f87a5;
  border-color: #1f87a5;
}

.card-slider__title--review {
  bottom: auto;
  top: 78px;

  @include bp($bp-1000) {
    width: calc(100% - 60px);
    left: 30px;
  }
}
