.fullpage-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 130px;

  @include bp($bp-1000) {
    margin-bottom: 80px;
    height: 85vh;
  }

  @include bp($bp-712) {
    height: 560px;
    margin-bottom: 43px;
  }

  .slick-dots {
    bottom: 160px;

    & > li {
      width: 12px;
      height: 12px;
      margin: 0 6px;

      button {
        width: 12px;
        height: 12px;
        background-color: transparent;
        border: solid 2px $white;
        border-radius: 50%;
        &:before {
          display: none;
        }
      }

      &.slick-active {
        button {
          background-color: $white;
        }
      }
    }
  }
}

.fullpage-slider__more {
  position: absolute;
  left: calc((100vw - 1240px)/2);
  bottom: 152px;
  padding-left: 42px;
  font-family: $Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 28px;
  letter-spacing: normal;
  text-align: left;
  color: $white;
  z-index: 50;
  cursor: pointer;

  @include bp($bp-1000) {
    display: none;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    @include svg-i-arrow-down_white;
  }

  @include bp($bp-1280) {
    left: 20px;
  }
}

.fullpage-slider__wrap {
  height: 100%;

  .slick-list, .slick-track, .slick-slide > div {
    height: 100%;
  }
}

.fullpage-slider__item {
  position: relative;
  height: 100%;

  .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    height: 100%;
  }
}

.fullpage-slider__img {
  height: 100%;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .55;
    background-image: linear-gradient( 90deg, rgb(72,74,74) 0%, rgb(33,48,50) 100%);
    z-index: 10;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.fullpage-slider__content {
  position: absolute;
  top: 50%;
  right: 90px;
  transform: translate(0, -50%);
  z-index: 50;

  @include bp($bp-1000) {
    right: auto;
    left: 60px;
  }

  @include bp($bp-712) {
    top: 44%;
    left: 20px;
  }
}

.fullpage-slider__title {
  font-family: $Gilroy;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: 1.2px;
  text-align: left;
  color: $white;
  margin-bottom: 100px;
  -webkit-font-smoothing: antialiased;

  @include bp($bp-1000) {
    margin-bottom: 78px;
  }

  @include bp($bp-712) {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.6px;
    margin-bottom: 24px;
  }
}

.fullpage-slider__numbers {
  display: flex;
}

.fullpage-slider__numbers-item {
  margin-right: 55px;


  @include bp($bp-1000) {
    margin-right: 39px;
  }

  @include bp($bp-320) {
    margin-right: 26px;
  }

  &:last-child {
    margin-right: 0;
  }

  span, p {
    font-family: $Roboto;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: $white;
    -webkit-font-smoothing: antialiased;
  }

  p {
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.96;
    letter-spacing: 1.2px;
    margin-bottom: 16px;

    @include bp($bp-712) {
      font-size: 24px;
      line-height: 1.5;
      letter-spacing: 0.6px;
    }
  }

  span {
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: normal;

    @include bp($bp-712) {
      font-size: 13px;
      line-height: 1.23;
    }
  }
}
