.partners {
  max-width: 1034px;
  margin: auto;
}

.partners__wrap {
  display: flex;
  align-items: center;
}

.partners__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include bp($bp-ipad-768) {
    justify-content: center;
    flex-wrap: wrap;
  }

  @include bp($bp-480) {
    width: calc(100% + 40px);
    margin-left: -20px;
  }
}

.partners__item {
  @include bp($bp-ipad-768) {
    margin: 0 40px 35px;
  }

  @include bp($bp-540) {
    margin: 0 20px 35px;
  }

  @include bp($bp-480) {
    margin: 0 17px 35px;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
