.question {
  margin-bottom: 42px;

  @include bp($bp-1000) {
    margin-bottom: 38px;
  }
}

.question__row {
  display: flex;

  @include bp($bp-1000) {
    flex-direction: column;
  }
}

.question__item {
  width: calc(100%/4);
  padding-right: 40px;

  @include bp($bp-1000) {
    width: 100%;
    margin-bottom: 27px;
  }

  @include bp($bp-640) {
    padding-right: 0;
  }

  &:last-child {
    padding-left: 30px;

    @include bp($bp-1000) {
      padding-left: 0;
      margin-bottom: 0;
    }
  }

  h3 {
    font-family: $Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: $seafoam-blue;
    margin-bottom: 15px;

    @include bp($bp-1000) {
      margin-bottom: 12px;
    }
  }

  p {
    font-family: $Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-bottom: 0;
  }
}

.question__btn {
  display: flex;
  justify-content: center;

  .btn {
    width: 234px;

    &:first-child {
      margin-right: 10px;
    }
    &:last-child {
      margin-left: 10px;
    }
  }
}
