.reviews {
  max-width: 760px;
  margin: 0 auto;

  h4 {
    font-family: $Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: $black-three;
    margin-bottom: 19px;

    @include bp($bp-ipad-768) {
      display: none;
    }
  }
}

.reviews__filter {
  margin-bottom: 36px;

  @include bp($bp-736) {
    width: calc(100% + 40px);
    margin-left: -20px;
    padding-left: 20px;
    overflow: scroll;
    margin-bottom: 17px;
    padding-bottom: 15px;
  }

  .reviews__filter-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include bp($bp-736) {
      width: 766px;
      display: block;
      font-size: 0;
    }

    .filter-item {
      font-family: $Roboto;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: $seafoam-blue;
      padding: 7px 20px;
      transition: .3s ease-in-out all;
      border-radius: 15px;
      border: solid 1px $seafoam-blue;
      cursor: pointer;

      @include bp($bp-736) {
        display: inline-block;
        margin-right: 20px;
      }

      &:hover {
        color: $white;
        background-color: $seafoam-blue;
      }

      &.active {
        color: $white;
        background-color: $seafoam-blue;
      }
    }
  }
}

.reviews__content {

}

.reviews-item {
  padding: 0 80px;
  border-bottom: 1px solid $seafoam-blue;
  margin-bottom: 30px;

  @include bp($bp-640) {
    padding: 0;
    margin-bottom: 20px;
  }

  &:last-child {
    border: none;
  }
}

.reviews-item__header {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  height: 60px;

  @include bp($bp-640) {
    height: 40px;
    margin-bottom: 20px;
  }

  img {
    display: block;
    position: absolute;
    top: 0;
    left: -79px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px;

    @include bp($bp-640) {
      position: static;
      margin-right: 10px;
      width: 40px;
      height: 40px;
    }
  }

  p {
    margin-bottom: 0;

    span {
      display: block;
      font-family: $Roboto;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: normal;
      text-align: left;
      color: $black;
    }
  }

  time {
    position: absolute;
    top: 13px;
    right: 0;
    display: block;
    font-family: $Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: $black;

    @include bp($bp-640) {
      top: 2px;
    }

  }
}

.reviews-item__body {
  h3 {
    font-family: $Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-bottom: 13px;
  }

  p {
    font-family: $Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-bottom: 27px;
  }
}

.reviews-item__video {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 54%;
  margin-bottom: 24px;
  outline: none;

  @include bp($bp-640) {
    margin-bottom: 20px;
  }


  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
    z-index: 1;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.reviews-item__video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include svg-i-play-60px;
  z-index: 10;
  cursor: pointer;
}

.reviews-item__gallery {
  display: flex;
  padding-bottom: 30px;

  @include bp($bp-640) {
    padding-bottom: 20px;
  }
}

.reviews-item__gallery-item {
  position: relative;
  width: 84px;
  height: 84px;
  border-radius: 10px;
  margin-right: 20px;
  outline: none;

  @include bp($bp-640) {
    margin-right: 15px;
  }

  &:last-child {
    margin-right: 0;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
    z-index: 1;
    border-radius: 10px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include svg-i-zoom;
    cursor: pointer;
    transition: .3s ease-in-out all;
    z-index: 3;
  }


  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.reviews__btn {
  width: 154px;
  margin: 10px auto 0;
  font-family: $Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $seafoam-blue;
  border: solid 1px $seafoam-blue;
  padding: 14px 29px;
  border-radius: 20px;
}

//
// Modifier
//

.reviews__filter--type {

  @include bp($bp-ipad-768) {
    display: none;
  }

  .reviews__filter-wrap {
    justify-content: center;
  }

  .filter-item {

    &:first-child {
      border-radius: 15px 0 0 15px;
    }

    &:nth-child(2) {
      border-radius: 0;
      margin: 0 -1px;
    }

    &:last-child {
      border-radius: 0 15px 15px 0;
    }
  }
}
