.select-category {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: rgba(83, 195, 208, 0.8);

  @include bp($bp-712) {
    display: block;
  }
}

.select-category__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  @include bp($bp-712) {
    margin: 0 55px;
    opacity: 0;
    transition: .3s ease-in-out all;
  }

  &.slick-slider {
    @include bp($bp-712) {
      opacity: 1;
    }
  }
  .slick-list {
    padding: 4px 0;
  }

  .slick-arrow {
    position: absolute;
    top: 52px;

    margin: auto;
    transform: none;

    z-index: 1000;
    &:before {
      display: none;
    }
  }

  .slick-prev {
    left: -40px;
    @include svg-i-arrow-left_sm_white;
  }

  .slick-next {
    right: -40px;
    @include svg-i-arrow-right_sm_white;
  }
}

.select-category__item {
  position: relative;
  display: flex!important;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
  background-color: transparent;
  transition: .3s ease-in-out all;

  @include bp($bp-ipad-768) {
    padding-left: 26px;
    padding-right: 26px;
    height: 120px;
  }

  @include bp($bp-712) {
    justify-content: center;
  }

  &:after, &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #2f9ba8;
    transition: .3s ease-in-out all;
    opacity: 0;
  }

  &:after {
    top: 0;
  }

  &:before {
    bottom: 0;
  }

  &:first-child {
    border-left: 1px solid #90e2ea;
  }

  &:nth-child(2) {
    border-left: 1px solid #90e2ea;
    border-right: 1px solid #90e2ea;
  }

  &:last-child {
    border-right: 1px solid #90e2ea;
  }

  &:hover {
    border-color: transparent;
    background-color: #75cfd8;

    &:after, &:before {
      opacity: 1;
    }

    &:after {
      transform: translateY(-4px);
    }

    &:before {
      transform: translateY(4px);
    }

    p {
      text-decoration: underline;
    }
  }

  span {
    transform: translate3d(0,0,0);
  }

  p {
    transform: translate3d(0,0,0);
    font-family: $Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.4px;
    text-align: left;
    color: $white;
    margin-left: 18px;
    margin-bottom: 0;

    @include bp($bp-360) {
      width: calc(100% - 57px);
    }
  }
}
