.step-company {
  display: flex;
  width: calc(100% + 20px);
  margin-left: -10px;

  @include bp($bp-1000) {
    width: calc(100% + 30px);
    margin-left: -10px;
  }

  .slick-slide > div {
    margin: 0 10px;
  }

  .slick-list {
    padding-bottom: 52px;
  }

  &.slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .slick-dots {
    bottom: 0px;

    & > li {
      width: 12px;
      height: 12px;
      margin: 0 6px;

      button {
        width: 12px;
        height: 12px;
        background-color: transparent;
        border: solid 2px $seafoam-blue;
        border-radius: 50%;

        &:before {
          display: none;
        }
      }

      &.slick-active {
        button {
          background-color: $seafoam-blue;
        }
      }
    }
  }

  .slick-slide {
    width: 190px;
  }
}

.step-company__item {
  position: relative;
  width: 190px;
  height: 234px;
  padding-top: 38px;
  padding-left: 30px;
  padding-right: 20px;
  border-radius: 7px;
  background-image: linear-gradient(to bottom, #42b0bd, #3cceb4);
  overflow: hidden;
  transition: .4s ease-in-out all;

  &:hover {
    box-shadow: 0px 5px 18px 0px rgba(64, 106, 111, 0.46);
    overflow: visible;

    span {
      transform: translateY(8px);
      color: rgb(66, 176, 189);
    }

    .step-company__bg {
      opacity: 1;
    }

    img {
      transform: scale(1.1);
    }
  }

  &.active {
    box-shadow: 0px 5px 18px 0px rgba(64, 106, 111, 0.46);
    overflow: visible;

    span {
      transform: translateY(8px);
      color: rgb(66, 176, 189);
    }

    .step-company__bg {
      opacity: 1;
    }

    img {
      transform: scale(1.1);
    }
  }

  span, strong {
    position: relative;
    font-family: $Gilroy;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    text-align: left;
    color: $white;
    z-index: 20;
  }

  strong {
    display: block;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0.6px;
    color: $white;
    margin-bottom: 24px;
  }

  span {
    position: absolute;
    left: 30px;
    bottom: -23px;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 1.5px;
    transition: .4s ease-in-out all;
    color: rgba(255, 255, 255, 0.25);
  }

  p {
    position: relative;
    font-family: $Roboto;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: $white;
    margin-bottom: 0;
    z-index: 20;
  }
}

.step-company__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .4s ease-in-out all;
  border-radius: 7px;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    object-fit: cover;
    transition: .3s ease-in-out all;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

//
// Modifier
//


