.tablets {
  position: absolute;
  background-size: contain;
}
.tablets--two-up {
  top: -20px;
  left: 25px;
  width: 86px;
  height: 63px;
  background-image: url("../images/main/tablets/tabls_2_paralax@2x.png");
  z-index: 10;

  @include bp($bp-712) {
    left: 0;
  }
}

.tablets--one {
  top: 100px;
  right: 40px;
  width: 66px;
  height: 50px;
  background-image: url("../images/main/tablets/tabls_1_paralax@2x.png");

  @include bp($bp-712) {
    top: 180px;
    right: -28px;
  }
}

.tablets--three {
  top: 430px;
  left: 120px;
  width: 73px;
  height: 48px;
  background-image: url("../images/main/tablets/tabls_3_paralax@2x.png");

  @include bp($bp-1000) {
    left: 0px;
  }

  @include bp($bp-712) {
    top: 450px;
    left: -26px;
  }
}

.tablets--two-down {
  bottom: 90px;
  right: 290px;
  width: 76px;
  height: 49px;
  background-image: url("../images/main/tablets/tabls_2_paralax-v2@2x.png");

  @include bp($bp-1000) {
    bottom: 50px;
    right: 140px;
  }

  @include bp($bp-712) {
    bottom: 40px;
    right: 40px;
  }
}




