* {
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  overflow-x: hidden;
}

.page {

}

.page__wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.page__content {
  width: calc(100% - 330px);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include bp($bp-1000) {
    width: 100%;
  }
}

.page__aside {
  @include bp($bp-1000) {
    display: none;
  }

  & > div {
    &.block-fix {
      position: fixed;
    }

    &.block-stop {
      position: absolute;
    }
  }
}

.container {
  width: 100%;
  max-width: 1296px;
  padding: 0 20px;
  margin: 0 auto;

  @include bp($bp-1000) {
    max-width: 100%;
  }
}

.icon-girl {
  @include svg-i-main-girl;
}

.icon-heart {
  @include svg-i-main-heart;
}

.icon-ears {
  @include svg-i-main-ears;
}

.btn {
  font-family: $Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: $seafoam-blue;
  border-radius: 22.5px;
  background-color: $white;
  border: solid 2px $seafoam-blue;
  padding: 14px 0;
}


//
// Modifier
//

.page--home {
  margin-top: 0;
  overflow: hidden;
}

.btn--fill {
  background-color: $seafoam-blue;
  color: $white;
}

.title--palata {
  line-height: 1;
  margin-bottom: 39px;
}

.title--clinic {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}
