
@mixin pseudoel($display_type: block){
  display: $display_type;
  content: '';
}

@mixin arrow($border_size: 5px){
  @include pseudoel;
  width: 0;
  height: 0;
  border: $border_size solid transparent;
}

@mixin fancyfont($spacing: 0.04em){
  text-transform: uppercase;
  letter-spacing: $spacing;
}

@mixin background($svg_data: 0){
  background: url("data:image/svg+xml;charset=utf-8;base64,#{$svg_data}");
}
