
$mainfont: 'Futura', sans-serif;

$textfont: 'Open Sans', sans-serif;



/* цвета */

$maincolor: #000;

$dark: #444;

$gray: #808285;

$bordergray: #a4a5a9;
$lightbordergray: #ddd;

$red: #df1e38;

$green: #18a909;

$darkbg: #f7f7f7;



/* размер основных блоков */

$main_desktop_width: 980px;



/* прозрачность */

$img_hover_opacity: 0.8;
$ico_hover_opacity: 0.6;
