
/* black friday */

.mmenu-item-blackfriday{
	margin: -13px 15px -15px;
	vertical-align: top;
	font-size: 0;

	@include mobile{
		margin: -6px 0 20px;
	}

	.mmenu-link{
		padding: 0 !important;
		border: 0 !important;

		@include mobile{
			padding: 0 20px 0 19px !important;
		}
	}
}
