
/* иконки */

.ico{
	display: inline-block;
	cursor: pointer;

	&:before{
		@include pseudoel(inline-block);
		width: 24px;
		height: 24px;
		vertical-align: middle;
		margin: -4px 0 0;
	}
	&:hover:before{
		opacity: $ico_hover_opacity;
	}
}

.icotext{
	display: none;
}

.imenu{
	&:before{
		@include background("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+DQo8cmVjdCB4PSIxIiB5PSIzIiB3aWR0aD0iMjIiIGhlaWdodD0iMiIvPg0KPHJlY3QgeD0iMSIgeT0iMTkiIHdpZHRoPSIyMiIgaGVpZ2h0PSIyIi8+DQo8cmVjdCB4PSIxIiB5PSIxMSIgd2lkdGg9IjIyIiBoZWlnaHQ9IjIiLz4NCjwvc3ZnPg==");
	}
}

.icart{
	&:before{
		@include background("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+DQo8cGF0aCBkPSJNMjAuOCw2LjJIMy4xTDEsMjRoMjEuOEwyMC44LDYuMnogTTcuNSw4LjhjLTAuNCwwLTAuNi0wLjMtMC42LTAuNmMwLTAuMywwLjMtMC42LDAuNi0wLjZjMC40LDAsMC42LDAuMywwLjYsMC42DQoJQzguMSw4LjYsNy45LDguOCw3LjUsOC44eiBNMTYuMyw4LjljLTAuNCwwLTAuNi0wLjMtMC42LTAuNmMwLTAuMywwLjMtMC42LDAuNi0wLjZDMTYuNyw3LjcsMTcsOCwxNyw4LjNDMTcsOC42LDE2LjcsOC45LDE2LjMsOC45eg0KCSIvPg0KPHBhdGggZmlsbD0iIzQyNDE0MiIgZD0iTTcuNCw3LjNjMCwwLDAtMC4yLDAtMC40YzAtMC44LDAuMS0yLjQsMC43LTMuOGMwLjYtMS40LDEuOC0yLjYsNC0yLjZjMSwwLDEuOCwwLjMsMi40LDAuOA0KCWMwLjksMC43LDEuNCwxLjgsMS43LDIuOWMwLjMsMS4xLDAuMywyLjIsMC4zLDIuN2MwLDAuMywwLDAuNSwwLDAuNWwwLjUsMGMwLDAsMC0wLjIsMC0wLjVjMC0wLjgtMC4xLTIuNS0wLjctNA0KCWMtMC4zLTAuOC0wLjgtMS41LTEuNS0yQzE0LjEsMC4zLDEzLjIsMCwxMiwwQzkuNiwwLDguMywxLjMsNy42LDIuOUM2LjksNC40LDYuOSw2LDYuOSw2LjhjMCwwLjMsMCwwLjUsMCwwLjVMNy40LDcuM0w3LjQsNy4zeiIvPg0KPC9zdmc+");
	}
}

.icart-num{
	margin: 0 0 0 5px;
}

.iwish{
	&:before{
		@include background("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+DQo8cGF0aCBkPSJNMTguOSwzLjVjLTIuNi0xLjMtNS43LTAuMS02LjksMi43Yy0xLjItMi44LTQuMy00LTYuOS0yLjdjLTIuOCwxLjQtNC4xLDQuOS0xLjksOWMxLjYsMi45LDQsNS4xLDguOSw5LjENCgljNC44LTQsNy4zLTYuMiw4LjgtOS4yQzIzLjEsOC4zLDIxLjcsNC44LDE4LjksMy41TDE4LjksMy41eiIvPg0KPC9zdmc+");
		transition: transform .20s ease-out;
	}
	&.act:before{
		@include background("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+DQo8cGF0aCBmaWxsPSIjZGYxZTM4IiBkPSJNMTguOSwzLjVjLTIuNi0xLjMtNS43LTAuMS02LjksMi43Yy0xLjItMi44LTQuMy00LTYuOS0yLjdjLTIuOCwxLjQtNC4xLDQuOS0xLjksOWMxLjYsMi45LDQsNS4xLDguOSw5LjENCgljNC44LTQsNy4zLTYuMiw4LjgtOS4yQzIzLjEsOC4zLDIxLjcsNC44LDE4LjksMy41TDE4LjksMy41eiIvPg0KPC9zdmc+");
		transform: rotateY(180deg);
	}
}

.isearch:before, .inputwrap button{
		@include background("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+DQoJPHBhdGggZD0iTTEzLjksMmMtNC41LDAtOC4xLDMuNi04LjEsOC4xYzAsMS41LDAuNCwyLjksMS4xLDQuMWwtNS4xLDUuMWMtMC4zLDAuMy0wLjUsMC44LTAuNSwxLjJjMCwwLjMsMC4xLDAuNiwwLjMsMC45bDEuMSwxLjENCgkJYzAuMiwwLjIsMC41LDAuMywwLjgsMC4zaDBjMC40LDAsMC45LTAuMiwxLjItMC41bDUuMS01LjFjMS4yLDAuNiwyLjUsMSwzLjksMWM0LjUsMCw4LjEtMy42LDguMS04LjFDMjIsNS42LDE4LjQsMiwxMy45LDJ6DQoJCSBNMTMuOSwxNS42Yy0zLjEsMC01LjYtMi41LTUuNi01LjZjMC0zLjEsMi41LTUuNiw1LjYtNS42czUuNiwyLjUsNS42LDUuNkMxOS41LDEzLjEsMTcsMTUuNiwxMy45LDE1LjZ6Ii8+DQo8L3N2Zz4=");
}

.iclose{
	&:before{
		@include background("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+DQo8cGF0aCBkPSJNMTIuOSwxMmw3LjYtNy42YzAuMy0wLjMsMC4zLTAuNywwLTAuOXMtMC43LTAuMy0wLjksMEwxMiwxMS4xTDQuNCwzLjVjLTAuMy0wLjMtMC43LTAuMy0wLjksMHMtMC4zLDAuNywwLDAuOWw3LjYsNy42DQoJbC03LjYsNy42Yy0wLjMsMC4zLTAuMywwLjcsMCwwLjljMC4xLDAuMSwwLjMsMC4yLDAuNSwwLjJjMC4yLDAsMC4zLTAuMSwwLjUtMC4ybDcuNi03LjZsNy42LDcuNmMwLjEsMC4xLDAuMywwLjIsMC41LDAuMg0KCWMwLjIsMCwwLjMtMC4xLDAuNS0wLjJjMC4zLTAuMywwLjMtMC43LDAtMC45TDEyLjksMTJ6Ii8+DQo8L3N2Zz4=");
	}
}

.ileft{
	&:before{
		@include background("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOCA2MCI+DQo8cGF0aCBkPSJNMjcuNCwwYzAuMSwwLDAuMiwwLjEsMC4zLDAuNGMwLjEsMC4zLDAuMSwwLjcsMC4yLDEuM2MwLDAuNiwwLjEsMS40LDAuMSwyLjVjMCwxLjIsMCwyLjQtMC4zLDMuMw0KCUMyNy40LDguMiw3LjEsMzAsNy4xLDMwTDcsMzBsMC4xLDBjMCwwLDIwLjQsMjEuOCwyMC42LDIyLjVjMC4zLDAuOSwwLjMsMi4xLDAuMywzLjNjMCwxLjEsMCwxLjktMC4xLDIuNWMwLDAuNi0wLjEsMS0wLjIsMS4zDQoJYy0wLjEsMC4yLTAuMiwwLjQtMC4zLDAuNGMwLDAsMCwwLTAuMSwwYy0wLjIsMC0wLjMtMC4yLTAuNS0wLjRMNC4xLDM0LjhDMy45LDM0LjYsMC42LDMwLjYsMCwzMGMwLjUtMC42LDMuOS00LjYsNC4xLTQuOEwyNi44LDAuNA0KCUMyNywwLjIsMjcuMiwwLjEsMjcuNCwwQzI3LjQsMCwyNy40LDAsMjcuNCwwIi8+DQo8L3N2Zz4=");

		.mwgallery .gallery &{
			@include background("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOCA2MCI+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjcuNCwwYzAuMSwwLDAuMiwwLjEsMC4zLDAuNGMwLjEsMC4zLDAuMSwwLjcsMC4yLDEuM2MwLDAuNiwwLjEsMS40LDAuMSwyLjVjMCwxLjIsMCwyLjQtMC4zLDMuMw0KCUMyNy40LDguMiw3LjEsMzAsNy4xLDMwTDcsMzBsMC4xLDBjMCwwLDIwLjQsMjEuOCwyMC42LDIyLjVjMC4zLDAuOSwwLjMsMi4xLDAuMywzLjNjMCwxLjEsMCwxLjktMC4xLDIuNWMwLDAuNi0wLjEsMS0wLjIsMS4zDQoJYy0wLjEsMC4yLTAuMiwwLjQtMC4zLDAuNGMwLDAsMCwwLTAuMSwwYy0wLjIsMC0wLjMtMC4yLTAuNS0wLjRMNC4xLDM0LjhDMy45LDM0LjYsMC42LDMwLjYsMCwzMGMwLjUtMC42LDMuOS00LjYsNC4xLTQuOEwyNi44LDAuNA0KCUMyNywwLjIsMjcuMiwwLjEsMjcuNCwwQzI3LjQsMCwyNy40LDAsMjcuNCwwIi8+DQo8L3N2Zz4=");
		}
	}
}

.iright{
	&:before{
		@include background("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOCA2MCI+DQo8cGF0aCBkPSJNMC42LDBDMC40LDAsMC4zLDAuMSwwLjMsMC40QzAuMiwwLjYsMC4xLDEuMSwwLjEsMS43QzAsMi4zLDAsMy4xLDAsNC4yYzAsMS4yLDAsMi40LDAuMywzLjMNCglDMC41LDguMiwyMC45LDMwLDIwLjksMzBsMC4xLDBsLTAuMSwwYzAsMC0yMC40LDIxLjgtMjAuNiwyMi41QzAsNTMuNCwwLDU0LjYsMCw1NS44YzAsMS4xLDAsMS45LDAuMSwyLjVjMCwwLjYsMC4xLDEsMC4yLDEuMw0KCUMwLjMsNTkuOSwwLjQsNjAsMC42LDYwYzAsMCwwLDAsMC4xLDBjMC4yLDAsMC4zLTAuMiwwLjUtMC40bDIyLjctMjQuOGMwLjItMC4yLDMuNS00LjIsNC4xLTQuOGMtMC41LTAuNi0zLjktNC42LTQuMS00LjhMMS4yLDAuNA0KCUMxLDAuMiwwLjgsMC4xLDAuNiwwQzAuNiwwLDAuNiwwLDAuNiwwIi8+DQo8L3N2Zz4=");

		.mwgallery .gallery &{
			@include background("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOCA2MCI+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMC42LDBDMC40LDAsMC4zLDAuMSwwLjMsMC40QzAuMiwwLjYsMC4xLDEuMSwwLjEsMS43QzAsMi4zLDAsMy4xLDAsNC4yYzAsMS4yLDAsMi40LDAuMywzLjMNCglDMC41LDguMiwyMC45LDMwLDIwLjksMzBsMC4xLDBsLTAuMSwwYzAsMC0yMC40LDIxLjgtMjAuNiwyMi41QzAsNTMuNCwwLDU0LjYsMCw1NS44YzAsMS4xLDAsMS45LDAuMSwyLjVjMCwwLjYsMC4xLDEsMC4yLDEuMw0KCUMwLjMsNTkuOSwwLjQsNjAsMC42LDYwYzAsMCwwLDAsMC4xLDBjMC4yLDAsMC4zLTAuMiwwLjUtMC40bDIyLjctMjQuOGMwLjItMC4yLDMuNS00LjIsNC4xLTQuOGMtMC41LTAuNi0zLjktNC42LTQuMS00LjhMMS4yLDAuNA0KCUMxLDAuMiwwLjgsMC4xLDAuNiwwQzAuNiwwLDAuNiwwLDAuNiwwIi8+DQo8L3N2Zz4=");
		}
	}
}

.ileft, .iright{
	&:before{
		background-position: center center !important;
		background-repeat: no-repeat !important;
	}
}
