
/* меню */

body>nav{
	width: $main_desktop_width;
	margin: 0 auto;
	padding: 0 10px;
	text-align: center;

	@include tablet{
		width: auto;
		padding: 0;
		white-space: nowrap;
	}

	@include mobile{
		padding: 81px 10px 20px;
	}
}

.mmenu-toggler{
	display: none;

	@include mobile{
		display: block;
		position: fixed;
		z-index: 51;
		top: 22px;
		left: 10px;
		/*
		transition: transform .30s ease-out;

		.openmmenu &{
			transform: rotateY(180deg);
		}
		*/
	}
}

.openmmenu{
	@include mobile{
		&>main:before{
			@include pseudoel;
			position: fixed;
			z-index: 49;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: #fff;
			opacity: 0.8;
		}
	}
}


.mmenu{
	padding: 18px 0 13px;
	margin: 0 0 25px;
	background: $maincolor;

	@include mobile{
		position: fixed;
		z-index: 90;
		top: 61px;
		bottom: 0;
		left: -200px;
		width: 200px;
		margin: 0;
		padding: 28px 0 0;
		overflow-x: hidden;
		overflow-y: auto;
		white-space: normal;
		text-align: left;
		transition: left .30s ease-out;

		.openmmenu &{
			left: 0;
		}
	}
}

.mmenu-item{
	display: inline-block;
	vertical-align: middle;
	margin: 0 30px;
	font-size: 16px;

	@include tablet{
		margin: 0 15px;
	}

	@include mobile{
		display: block;
		margin: 0 0 24px;
	}

	@include nontablet{
		&.hover>span{
			display: block;
			margin: -18px -30px -13px;
			padding: 18px 30px 13px;
			background: $dark;
			position: relative;
			z-index: 10;
		}
	}
}

.mmenu-link{
	display: block;
	padding: 0 0 4px;
	@include fancyfont;
	color: #fff !important;

	&:hover, &.act{
		padding: 0 0 2px;
		border-bottom: 2px solid #fff;
	}

	@include mobile{
		padding: 0 20px !important;
		border: 0 !important;

		&.act{
			color: $gray !important;
		}
	}
}

.dropmenu{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	padding: 10px 15px 5px;
	background: #fff;
	border: 1px solid $gray;
	border-top: 0;

	@include nontablet{
		.hover &{
			display: block;
		}
	}
	li{
		margin: 0 0 7px;
		font-size: 12px;
		font-family: $textfont;
		text-align: left;
	}
}

.dropmenu-title{
	font-weight: bold;
	text-transform: uppercase;

	li + &{
		padding-top: 7px;
	}
}

.smenu{
	margin: 0 0 45px;
	padding: 6px 0 0;

	@include mobile{
		margin: 0;
		padding: 10px;
		height: 18px;
		border: 1px solid $bordergray;
		text-align: left;
		white-space: normal;
		position: relative;
		z-index: 1;

		&.act{
			padding: 58px 10px 1px;
			height: auto;

			a{
				display: block;
			}
		}
	}

	li{
		display: inline-block;
		margin: 0 15px;
		font-size: 24px;
		font-weight: bold;
		@include fancyfont;

		@include mobile{
			display: block;
			font-size: 16px;
			margin: 0;
		}
	}
	a{
		display: block;
		padding: 0 0 5px;
		color: $maincolor !important;

		@include mobile{
			display: none;
			padding: 0 !important;
			border: 0 !important;
			margin: 0 0 20px;

			&.act{
				display: block;
				margin: 0;
				position: absolute;
				z-index: 1;
				top: 11px;
				left: 10px;
				right: 30px;
				white-space: nowrap;
				overflow: hidden;
			}
		}

		&:hover, &.act{
			padding: 0 0 2px;
			border-bottom: 3px solid $maincolor;
		}
	}
}

.smenu-toggler{
	display: none;

	@include mobile{
		display: block;
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		right: 0;
		height: 38px;

		.act &{
			border-bottom: 1px solid #ddd;

			&:after{
				transform: rotate(180deg);
			}
		}

		&:after{
			@include arrow;
			border-width: 9px 6px;
			border-top-color: $maincolor;
			border-bottom: 0;
			position: absolute;
			top: 15px;
			right: 10px;
		}
	}
}

.salemenu{
	margin: -20px 0 35px;
	background: $maincolor;
	text-align: center;
	white-space: nowrap;

	@include mobile{
		margin: -20px -10px;
		padding: 10px 0;
	}

	li{
		display: inline-block;
		width: 30%;
		max-width: 222px;
	}
	a{
		display: block;
		margin: auto;
		max-width: 222px;
		position: relative;
		z-index: 1;
	}
	img{
		max-width: 100%;
		height: auto;
	}
	.act:after, a:hover:after{
		@include pseudoel;
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 15%;
		right: 15%;
		height: 8px;
		background: #fff;
		margin: auto;

		@include mobile{
			bottom: -10px;
			height: 4px;
		}
	}
}
