
/* модальные окна */

.modwin{
	display: none;
	position: absolute;
	z-index: 1000;
	width: 100%;
	min-height: 100%;

	&:after{
		@include pseudoel;
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.7);
	}
}

.mwcloser{
	display: block;
	position: absolute;
	width: 24px;
	height: 24px;
	top: 12px;
	right: 10px;
	z-index: 2;

	@include mobile{
		position: fixed;
		z-index: 20;
		background: #fff;
	}
}

.mwcontent{
	display: none;
	position: absolute;
	z-index: 2;
	width: 960px;
	min-height: 540px;
	padding: 20px;
	background: #fff;

	@include tablet{
		width: 90%;
		width: calc(100% - 40px);
	}

	@include mobile{
		position: fixed;
		top: 0 !important;
		left: 0 !important;
		right: 0 !important;
		bottom: 0 !important;
		overflow-y: auto;
		width: auto !important;
		min-height: none !important;
		padding: 10px !important;
	}

	&>h2{
		margin: 0 0 16px;
		font-size: 18px;
		@include fancyfont;
	}
}


.mwshort{
	width: 300px;
	min-height: 150px;
	padding: 40px;
}

.mwframe{
	height: 530px;
	margin-right: -10px;
	padding-right: 20px;
	overflow: auto;

	@include mobile{
		height: auto;
	}

	& + .buts{
		margin: 20px 0 0;
	}
}

.mwsubscribe{
	padding: 50px 30px 0 480px;
	width: 350px;
	height: 350px;
	min-height: 0;
	text-align: center;
	overflow: visible;

	@include tablet{
		width: auto;
		max-width: 350px;
		padding-top: 30px;
		height: 370px;
	}

	@include mobile{
		width: auto;
		height: auto;
		max-width: none;
		overflow-y: auto;
	}

	h2{
		margin: 0 0 20px;
		font-size: 22px;
	}
	img{
		position: absolute;
		top: 0;
		left: 0;

		@include mobile{
			position: relative;
			top: auto;
			left: auto;
			margin: 30px 0;
			max-width: 100%;
		}
	}
}

.mwsubscribe-descr{
	margin: 0 auto 15px;
	max-width: 300px;
	font: 13px $textfont;
	line-height: 1.2em;
	color: $gray;
}

.mwsubscribe-form{
	margin: 0 auto;
	max-width: 240px;
	padding: 20px 0 0;
	border-top: 1px solid $maincolor;

	input{
		width: 100%;
		margin: 0 0 20px;
	}
	button{
		width: 100%;
		padding: 10px 10px 8px;
		font-weight: normal;
	}
	.feedback{
		margin: -10px 0 10px;
	}
}

.mwgallery{
	border: 0;
	background: transparent;
	width: auto;
	min-height: 0;
	padding: 0;
	position: fixed !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	margin: 0 !important;

	.mwcloser{
		padding: 5px;
		background: rgba(0, 0, 0, 0.4);

		&:before{
			margin: 0;
			@include background("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMTIuOSwxMmw3LjYtNy42YzAuMy0wLjMsMC4zLTAuNywwLTAuOXMtMC43LTAuMy0wLjksMEwxMiwxMS4xTDQuNCwzLjVjLTAuMy0wLjMtMC43LTAuMy0wLjksMHMtMC4zLDAuNywwLDAuOWw3LjYsNy42DQoJbC03LjYsNy42Yy0wLjMsMC4zLTAuMywwLjcsMCwwLjljMC4xLDAuMSwwLjMsMC4yLDAuNSwwLjJjMC4yLDAsMC4zLTAuMSwwLjUtMC4ybDcuNi03LjZsNy42LDcuNmMwLjEsMC4xLDAuMywwLjIsMC41LDAuMg0KCWMwLjIsMCwwLjMtMC4xLDAuNS0wLjJjMC4zLTAuMywwLjMtMC43LDAtMC45TDEyLjksMTJ6Ii8+DQo8L3N2Zz4=");
		}
	}
	.gallery{
		.ico{
			background: rgba(0, 0, 0, 0.4);
		}
	}
	.gallery-descr{
		position: absolute;
		z-index: 2;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 auto;
		width: 70%;
		min-width: 300px;
		padding: 0 10px 10px;
		background: rgba(0, 0, 0, 0.4);
		color: #fff;

		@include mobile{
			width: auto;
		}

		a{
			color: #fff;
			text-decoration: underline;

			&:hover{
				text-decoration: none;
			}
		}
	}
}
