
/* new year */

/*
body{
	@include nontablet{
		background: url(../img/newyear_bg.png) top center no-repeat !important;
	}
}
*/

.mmenu-item-newyear{
	padding: 18px 45px 13px !important;
	margin: -18px 0 -13px !important;
	background: url(../img/newyear_mmenu_bg.png);

	@include mobile{
		margin: -10px 0 18px !important;
		padding: 17px 0 16px !important;
	}

	.mmenu-link{
		color: #EBC352 !important;

		&:hover, &.act{
			border-color: #EBC352 !important;
		}
		&.act{
			@include mobile{
				color: #ad9247 !important;
			}
		}
	}
}
