
/* private sale */

.privatesale{
	margin: -24px 0 25px;
	padding: 70px 200px 200px;
	text-align: center;
	background: url(../img/privatesale_bg.jpg) top center no-repeat;

	@include tablet{
		margin: -24px -10px 25px;
	}
	@include small_tablet{
		padding: 70px 100px 200px;
	}
	@include mobile{
		margin: -40px -10px 25px;
		padding: 50px 20px 100px;
	}

	h1{
		margin: 5px 0 70px;
		font: bold 20px $textfont;
		letter-spacing: 0.15em;

		@include mobile{
			margin: 5px 0 50px;
		}
	}
	p{
		margin: 0 0 50px;
		font: bold 24px $textfont;
		text-transform: uppercase;
		line-height: 1.5em;
		letter-spacing: 0.2em;

		@include mobile{
			font-size: 18px;
			margin: 0 0 40px;
		}
	}
	input{
		box-sizing: border-box;
		width: 100%;
		padding: 5px;
		border: 0;
		background: transparent;
		text-align: center;
		font-size: 24px;
		font-style: italic;
		position: relative;
		z-index: 1;

		@include mobile{
			font-size: 18px;
		}
	}
	label{
		position: absolute;
		z-index: 2;
		left: 0;
		right: 0;
		bottom: 5px;
		text-align: center;
		font: italic 24px $textfont;

		@include mobile{
			font-size: 18px;
		}
	}
	button{
		display: block;
		width: 100%;
		min-height: 60px;
		border-radius: 30px;
		border: 0;
		font: bold 24px $textfont;
		letter-spacing: 0.2em;

		@include mobile{
			font-size: 18px;
		}
	}
	.feedback{
		background: transparent !important;

		p{
			padding: 0;
			font: bold 16px $textfont !important;

			@include mobile{
				font-size: 14px !important;
			}
		}
	}
}

.privatesale-content{
	padding: 60px 60px 100px;
	background: url(../img/privatesale_content_bg.png);

	@include mobile{
		padding: 30px 20px 50px;
	}
}

.privatesale-logo{
	max-width: 100%;
	height: auto;
}

.privatesale-input{
	position: relative;
	z-index: 1;
	margin: 0 30px 30px;
	border-bottom: 1px solid $maincolor;

	@include mobile{
		margin: 0 10px 20px;
	}
}
