
/* товар */

.product{
	margin: 0 0 40px;

	@include mobile{
		margin: -60px 0 40px;
		background: #fff;
		text-align: center;
		position: relative;
		z-index: 10;
	}

	.modwin &{
		margin: 0 -10px;

		@include mobile{
			margin: 0;
		}
	}
}

.prodpix{
	float: left;
	width: 497px;
	position: relative;

	@include tablet{
		width: 405px;
	}

	@include mobile{
		float: none;
		margin: 0 auto 30px;
		width: auto;
		max-width: 405px;
	}
}

.mainpic{
	width: 405px;
	height: 540px;
	margin: 0 0 0 92px;
	position: relative;
	z-index: 3;

	@include tablet{
		margin: 0 0 0 -10px;
	}

	@include mobile{
		width: auto;
		height: auto;
		margin: 0;
	}

	&:hover{
		.mainpic-ico{
			@include nontablet{
				display: none;
			}
		}
	}
	.prod-snowflake{
		padding: 10px;
		background: #fff;
		border: 2px solid #b9cbe6;
		border-radius: 50%;

		@include mobile{
			padding: 8px;

			img{
				width: 40px;
				height: 40px;
			}
		}
	}
}

.mainpic-img{
	position: relative;
	z-index: 1;

	@include mobile{
		max-width: 100%;
	}
}

.mainpic-ico{
	position: absolute;
	z-index: 2;
	top: 20px;
	right: 20px;

	@include mobile{
		top: 10px;
		right: 10px;
	}
}

.zoom{
	display: none;
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%;

	@include nontablet{
		display: block;
	}
}

.zoomzone, .zoompic{
	position: absolute;
	display: none;
}

.zoomzone{
	width: 50%;
	height: 50%;
	width: calc(50% - 2px);
	height: calc(50% - 2px);
	border: 1px solid $gray;
	background: rgba(255, 255, 255, 0.4);
	cursor: move;

	.zoom:hover &{
		display: block;
	}
}

.zoompic{
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	margin: 0 0 0 44px;
	background: #fff;
	border: 17px solid #fff;
	border-top: 0;
	overflow: hidden;

	.modwin &{
		top: -10px;
		border-top-width: 10px;
		border-bottom-width: 10px;
	}
}

.zoompic-img{ position: absolute; }

.thumbs{
	position: absolute;
	top: 14px;
	left: 0;
	width: 72px;
	text-align: center;

	@include tablet{
		position: relative;
		top: auto;
		left: auto;
		width: auto;
		text-align: left;
	}

	@include mobile{
		text-align: center;
	}
}

.thumb-wrap{
	height: 434px;
	margin: 20px 0;
	overflow: hidden;
	position: relative;

	@include tablet{
		height: auto;
		margin: 20px 0 0;
	}

	@include mobile{
		margin: 0;
	}
}

.thumb-content{
	position: absolute;

	@include tablet{
		position: relative;
	}

	li{
		margin: 0 0 18px;
		border: 1px solid #dfdfdf;
		cursor: pointer;

		@include tablet{
			display: inline-block;
			margin: 0 5px 5px 0;
		}

		@include mobile{
			margin: 0 2px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
		}

		&.act{
			border-color: $maincolor;
			cursor: default;

			@include mobile{
				background: $maincolor;
			}
		}
	}
	img{
		width: 70px;
		height: 93px;

		@include mobile{
			display: none;
		}
	}
}

.thumb-nav{
	display: inline-block;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 19px 13px;

	@include tablet{
		display: none;
	}

	&.dis{
		cursor: default;
	}
}

.thumb-up{
	border-bottom-color: $maincolor;
	border-top: 0;

	&.dis{
		border-bottom-color: #eee;
	}
}

.thumb-down{
	border-top-color: $maincolor;
	border-bottom: 0;

	&.dis{
		border-top-color: #eee;
	}
}


.proddescr{
	margin: 0 0 0 542px;

	@include tablet{
		margin: 0 0 0 420px;
	}

	@include mobile{
		margin: 0;
	}

	h1{
		margin: -5px 0 10px;
		font-size: 24px;
		@include fancyfont;
	}
	.blocktitle{
		margin: 0 0 16px;

		@include mobile{
			text-align: left;
			margin: 0 0 24px;
		}
	}
}

.prod-articul{
	margin: 0 0 24px;
	font: 11px $textfont;
	text-transform: uppercase;
	color: $gray;
}

.prod-price{
	margin: 0 0 32px;
	font-size: 20px;
	@include fancyfont(0.06em);

	.sale{
		color: $red;
	}
	s{
		margin: 0 20px;
		color: $gray;
	}
	.discount{
		display: inline-block;
		padding: 3px 5px 2px;
		background: #fff;
		font-size: 16px;
		font-weight: bold;
		border: 1px solid $red;
		color: $red;
	}
}

.prod-price-discount{
	margin: -30px 0 10px;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: normal;
	line-height: 1em;
	text-transform: uppercase;
	color: #649d64;
	white-space: nowrap;

	@include mobile{
		margin-top: -25px;
	}

	span{
		display: inline-block;
		padding: 4px 6px;
		border: 1px solid #b0e1b0;

		@include mobile{
			padding: 4px 16px;
		}
	}
}

.prod-price-help{
	margin: 20px 0 0;
	display: inline-block;
	font: 13px $textfont;
	line-height: 1.3em;
	text-transform: none;
	letter-spacing: 0;
	color: #e00;
	border-bottom: 1px dashed #e00;

	&:hover{
		border-color: $gray;
	}
}

.prod-delivery-link{
	margin: 0 0 15px;
	font: 13px $textfont;
	line-height: 1.3em;

	@include mobile{
		padding: 10px 0 0;
	}

	a{
		border-bottom: 1px dashed $maincolor;

		&:hover{
			border-color: $gray;
		}
	}
}

.prod-color{
	max-width: 340px;
	margin: 0 0 15px;
	position: relative;
	z-index: 1;

	@include tablet{
		max-width: 300px;
	}
	@include mobile{
		margin: 0 auto 15px;
	}
}

.prod-color-wrap{
	height: 79px;
	margin: 0 20px 0 0;
	overflow: hidden;
	position: relative;
	z-index: 1;

	@include tablet{
		height: 70px;
	}
}

.prod-color-content{
	position: absolute;
	z-index: 1;
	white-space: nowrap;

	li{
		display: inline-block;
		vertical-align: top;
		margin: 0 5px 0 0;

		&:last-child{
			margin: 0;
		}
	}

	img{
		width: 58px;
		height: auto;
		border: 1px solid #ddd;

		@include tablet{
			width: 50px;
		}
	}

	a:hover{
		img{
			border-color: $maincolor;
		}
	}
}

.prod-color-nav{
	position: absolute;
	z-index: 1;
	right: 0;
	top: 50%;
	margin: -7px 0 0;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 7px 12px;
	border-left-color: #ddd;
	border-right: 0;

	&:hover{
		border-left-color: $maincolor;
	}
}







.prod-order{
	h4{
		margin: 0 0 6px;
		font-size: 14px;
		@include fancyfont;
	}
}

.prod-size{
	margin: 0 0 14px;

	li{
		display: inline-block;
		vertical-align: middle;
		margin: 0 6px 6px 0;

		@include mobile{
			.prod-order &:last-child{
				display: block;
				margin: 10px 0 0;
			}
		}
	}
	span, button{
		display: inline-block;
		width: 30px;
		height: 19px;
		padding: 11px 0 0;
		border: 1px solid $gray;
		background: transparent !important;
		text-align: center;
		overflow: visible;
		white-space: nowrap;
		font: 11px $textfont !important;
		line-height: 8px !important;
	}
	button{
		width: 32px;
		height: 32px;
		padding: 0 !important;
		color: $maincolor;
		letter-spacing: 0;

		&:hover{
			border-color: $maincolor;
			color: $maincolor;
		}
		&.act{
			border-color: $maincolor;
			background: $maincolor !important;
			color: #fff !important;
		}
		&.prod-size-outofstock{
			&.act{
				color: #999 !important;
			}
		}
	}

}

.prod-size-outofstock{
	color: #aaa !important;
}

.prod-size-help{
	margin: 0 0 0 9px;
	display: inline-block;
	vertical-align: middle;
	font: 10px $textfont;
	letter-spacing: 0.04em;
	border-bottom: 1px dashed $maincolor;

	@include mobile{
		font-size: 13px;
	}

	&:hover{
		border-color: $gray;
	}
}

.prod-button{
	margin: 0 0 17px;
	padding: 10px 0;

	@include mobile{
		margin: 0 -10px 17px;
	}

	button{
		margin: 10px 20px 10px 0;
		font-weight: normal;
		border-width: 1px;
		height: 50px;

		@include mobile{
			margin: 10px;
		}
	}
	.feedback{
		background: transparent !important;
		width: 240px;
		height: 10px;
		margin: -15px 0 5px;

		@include mobile{
			width: auto;
		}

		p{
			padding: 0;
		}
	}
	.iwish{
		margin: 10px 0;

		@include mobile{
			margin: 10px;
		}
	}
}

.bcart{
	width: 240px;

	&.act{
		background: $red;
		border-color: $red;

		&:hover{
			background: lighten($red, 10%);
			border-color: lighten($red, 10%);
		}
	}
}

.prod-detail{
	display: none;
	margin: 0 0 33px;
	font: 13px $textfont;
	line-height: 1.4em;

	@include mobile{
		text-align: left;
		margin: 0 0 40px;
	}

	&:last-child{
		margin: 0;
	}
	&>ul{
		margin: -5px 0 0;
	}
	li{
		line-height: 1.4em;
	}
	p{
		margin: 0;
	}
}

.adviser{
	margin: 0 0 15px !important;
	min-height: 75px;
	white-space: nowrap;
	font-size: 0;

	img, b{
		vertical-align: middle;
	}
	img{
		width: 75px;
		height: 75px;
		border-radius: 50%;
		margin: 0 15px 0 0;
	}
	b{
		display: inline-block;
		max-width: 348px;
		white-space: normal;
		font-weight: normal;
		font-size: 11px;
		line-height: 1.2em;
		color: $dark;
	}
}

.prod-shop{
	margin: -1px 0 0;

	@include mobile{
		display: block;
		width: auto;
		margin: 0;

		tr, th, td{
			display: block;
			width: auto;
		}
	}

	th, td{
		text-align: left;
		vertical-align: top;
	}
	th{
		max-width: 200px;
		padding: 3px 10px 0 0;
		font-weight: normal;

		@include mobile{
			max-width: none;
			padding: 0 0 15px;
		}
	}
	a{
		@extend .shop-maplink;
	}
	td{
		max-width: 270px;
		font-size: 0;

		@include mobile{
			max-width: none;
			padding: 0 0 30px;
		}
	}
	.prod-size{
		margin: 0;
	}
}
