.b-comments {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 10px;

  @include bp($bp-1190) {
    width: 100%;
  }
}

.b-comments__wrap {
  position: relative;
  z-index: 5;

  .b-form {
    @include bp($bp-480) {
      display: flex;
      justify-content: space-between;

      .b-form__item {
        width: calc(100% - 50px);
        margin-bottom: 0;
      }
    }
  }
}

.b-comments__count {
  margin-left: 70px;
  font-family: $Roboto;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $black;
  margin-bottom: 30px;
}

.b-comments__list {
  margin-top: 35px;

  @include bp($bp-480) {
    margin-top: 20px;
  }
}
