.b-detail {
}

.b-detail__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.b-detail__author {
  position: relative;

  p, span {
    margin-left: 70px;
    -webkit-font-smoothing: antialiased;
  }

  p {
    font-family: $Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
  }

  span {
    display: block;
    font-family: $Roboto;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: $black;
  }
}

.b-detail__author-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    font-family: 'object-fit: cover;';
  }

}

.b-detail__img {
  margin-bottom: 30px;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  span {
    margin-top: 10px;
    display: block;
    font-family: $Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #525252;
    -webkit-font-smoothing: antialiased;

  }
}

.b-detail__typography {
  max-width: 700px;
  margin: 0 auto;

  h2 {
    font-family: $RobotoSlab;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-bottom: 30px;
  }

  h3 {
    font-family: $RobotoSlab;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-bottom: 30px;
  }

  p {
    font-family: $Roboto;
    font-size: 19px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-bottom: 30px;
    -webkit-font-smoothing: antialiased;

  }

  blockquote {
    position: relative;
    padding-left: 26px;
    font-family: $Roboto;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-bottom: 30px;
    -webkit-font-smoothing: antialiased;


    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 6px;
      height: 100%;
      background-color: $maize;
    }
  }

  & > ul, & > ol {
    list-style: none;
    padding-left: 25px;
    margin-bottom: 30px;

    li {
      position: relative;
      font-family: $Roboto;
      font-size: 19px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.47;
      letter-spacing: normal;
      text-align: left;
      color: $black;
      -webkit-font-smoothing: antialiased;
      margin-bottom: 28px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  & > ul {
    li {
      &:after {
        content: '';
        position: absolute;
        top: 10px;
        left: -25px;
        width: 6px;
        height: 6px;
        background-color: $maize;
      }
    }
  }

  & > ol {
    counter-reset: myCounter;

    li:after {
      position: absolute;
      top: 0;
      left: -25px;
      counter-increment: myCounter;
      content:counter(myCounter)".";
      display: inline-block;
      font-weight: 500;

      @include bp($bp-640) {
        font-size: 14px;
        line-height: 1.71;
      }
    }
  }

  .b-detail__chapter {
    position: relative;
    width: 100%;
    padding: 20px 50px 33px 25px;
    background-color: $white;
    border: solid 1px #dadada;
    margin-bottom: 20px;

    span {
      display: block;
      position: absolute;
      top: -4px;
      right: 11px;
      width: 30px;
      height: 60px;
      background-color: $maize;
      font-family: $Roboto;
      font-size: 19px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 44px;
      letter-spacing: normal;
      text-align: center;
      color: $white;
      -webkit-font-smoothing: antialiased;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -15px;
        margin: 0 auto;
        width: 26px;
        height: 26px;
        background-color: $white;
        transform: rotate(45deg);
        z-index: 10;
      }
    }

    p {
      font-size: 16px;
      line-height: 1.5;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.b-detail__video {
  margin-bottom: 30px;
}

.b-detail__two-paragraphs {
  margin-bottom: 40px;

  p {
    &:first-child {
      margin-bottom: 20px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.b-detail__timeline {

}

.b-detail__hashtag {
  margin-bottom: 40px;
}

.b-detail__alarm {
  width: 100%;
  height: 60px;
  font-family: $Courier;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 58px;
  letter-spacing: 1px;
  text-align: center;
  color: #c4c4c4;
  border-radius: 2px;
  background-color: $white;
  border: solid 1px #e2e2e2;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.b-detail__slider {
  &.slick-dotted {
    &.slick-slider {
      margin-bottom: 22px;
    }
  }

  .slick-arrow {
    width: 32px;
    height: 32px;
    z-index: 50;
    top: calc(50% - 27px);

    &:before {
      content: '';
      display: block;
      opacity: 1;
    }
  }

  .slick-prev {
    left: 18px;
    &:before {
      @include svg-i-arrow-left-slider_white;
    }
  }

  .slick-next {
    right: 18px;
    &:before {
      @include svg-i-arrow-right-slider_white;
    }
  }

  .slick-dots {
    position: relative;
    text-align: right;
    bottom: auto;
    right: -6px;
    margin-top: 7px;

    li  {
      margin: 0;

      button {
        &:before {
          color: $white-three;
          font-size: 30px;
          opacity: 1;
        }
      }

      &.slick-active {
        button {
          &:before {
            color: $macaroni-and-cheese;
            opacity: 1;
          }
        }
      }
    }
  }
}

.b-detail__news {
  display: flex;
  justify-content: space-between;

  .news {
    width: calc(100% / 2 - 15px);
    padding: 20px;
    border: solid 1px #dadada;
    margin-bottom: 30px;

    &:last-child {
      border-color: #dadada;
      margin-bottom: 30px;
    }
  }
}

.b-detail__footer {
  width: 100%;

  .b-detail__header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid $white-two;
    border-bottom: 1px solid $white-two;
  }
}

//
// Modifier
//

.b-detail__news--single {
  .news {
    width: 100%;
    min-height: 100px;
  }

  .news--aside {
    .news__img {
      position: absolute;
      top: -1px;
      left: -1px;
      width: 160px;
      height: 100px;
    }

    .news__content {
      width: 100%;
      padding-left: 170px;
    }

    .news__info {
      width: calc(100% - 170px);
      left: 170px;
    }
  }
}

