.b-left-form {
  position: fixed;
  top: 220px;
  left: 0;
  width: 419px;
  height: 356px;
  background-color: $white;
  z-index: 1000;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 0 6px 6px 0;
  transform: translateX(-100%);
  transition: .3s ease-in-out all;
  box-shadow: 0px 6px 59px 0 rgba(75, 100, 104, 0.25);

  @include bp($bp-712) {
    display: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: $seafoam-blue;
  }

  &:hover {
    transform: translateX(-98%);
  }

  &.active {
    transform: translateX(0);
  }

  .b-form {
    & > p {
      font-size: 12px;
      line-height: 1.5;
      text-align: left;
    }
  }

  .b-form__content {
    flex-direction: column;
  }

  .b-form__item {
    border: solid 2px #64c9d4;
    border-radius: 25px;
    margin-bottom: 20px;

    input {
      padding: 15px 26px;
    }
  }

  .b-form__submit {
    text-align: left;
    margin-bottom: 18px;

    button {
      padding: 16px 30px;
    }
  }
}

.b-left-form__label {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  position: absolute;
  right: -38px;
  width: 40px;
  height: 234px;
  background-color: $white;
  font-family: $Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3598a4;
  writing-mode: tb-rl;
  border-radius: 16px 0 0 16px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  box-shadow: 0px 6px 59px 0 rgba(75, 100, 104, 0.2);

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 100%;
    background-color: $white;
    left: 39px;
    top: 0;
    z-index: 100;
  }
}

.b-left-form__wrap {

}

.b-left-form__title {
  font-family: $Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.4px;
  text-align: left;
  color: #49b6c3;
  margin-bottom: 29px;
  -webkit-font-smoothing: antialiased;
  margin-left: 19px;
}

.b-left-form__close {
  position: absolute;
  top: 18px;
  right: 18px;
  @include svg-i-close-step;
  cursor: pointer;
}
