.b-popup {
  position: relative;
  width: 100%;
  max-width: 480px;
  background-color: #fff;
  padding: 30px;
  margin: 0 auto;

  & > button {
    top: 28px;
    right: 30px;
    font-size: 0;
    @include svg-i-close-gray;

    &:active {
      top: 28px;
      transform: none;
    }
  }

  .b-form {
    text-align: center;

    button {
      padding: 0 20px;
      font-family: $Roboto;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 38px;
      letter-spacing: normal;
      text-align: center;
      color: $dark-sky-blue;
      height: 40px;
      border-radius: 20px;
      border: solid 1px $dark-sky-blue;
      background-color: transparent;
      outline: none;
      cursor: pointer;
    }
  }

  .b-form__item {
    margin-bottom: 20px;
  }


}

.b-popup__wrap {

}

.b-popup__title {
  font-family: $Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.78;
  letter-spacing: normal;
  text-align: left;
  color: $black;
  margin-bottom: 32px;
}

.b-popup__error {
  font-family: $Roboto;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: $black;
  margin-bottom: 30px;

  span {
    font-weight: normal;
    color: #d0021b;
  }
}
