.b-right-form {
  position: fixed;
  top: 220px;
  right: 0;
  width: 378px;
  height: auto;
  background-color: $seafoam-blue;
  z-index: 1000;
  padding-top: 28px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 0 6px 6px 6px;
  transform: translateX(100%);
  transition: .3s ease-in-out all;
  box-shadow: 0px 6px 59px 0 rgba(75, 100, 104, 0.25);

  @include bp($bp-480) {
    width: 270px;
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &:hover {
    transform: translateX(98%);
  }

  &.active {
    transform: translateX(0);
  }

  .b-form {
    & > p {
      font-size: 12px;
      line-height: 1.5;
      text-align: left;

      @include bp($bp-480) {
        margin-bottom: 20px;
      }
    }
  }

  .b-form__content {
    flex-direction: column;
  }

  .b-form__item {
    border: solid 2px #64c9d4;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: $white;

    input {
      padding: 15px 26px;
    }
    textarea {
      height: 160px;

      @include bp($bp-480) {
        height: 90px;
      }
    }
  }

  .b-form__submit {
    text-align: left;
    margin-bottom: 18px;

    button {
      border: solid 2px $white;
      padding: 14px 30px;
    }
  }
}

.b-right-form__label {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  left: -38px;
  width: 40px;
  height: 184px;
  background-color: $seafoam-blue;
  font-family: $Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $white;
  writing-mode: tb-rl;
  border-radius: 0 16px 16px 0 ;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

.b-right-form__wrap {

}

.b-right-form__title {
  font-family: $Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.4px;
  text-align: left;
  color: $white;
  margin-bottom: 22px;
  -webkit-font-smoothing: antialiased;
}

.b-right-form__close {
  position: absolute;
  top: 24px;
  right: 30px;
  @include svg-i-close-step_white;
  cursor: pointer;

  @include bp($bp-480) {
    top: 14px;
    right: 10px;
  }

}
