-var img1 = './images/aside/11.jpg';
-var img2 = './images/aside/22.jpg';
-var img3 = './images/aside/33.jpg';
-var img4 = './images/aside/44.jpg';
-var img5 = './images/aside/55.jpg';


aside.b-aside
    .b-aside__wrap
        .b-aside__header
            .b-aside__weather.js-weather
                .icon
                span +24
            .b-aside__forex
                .b-aside__forex-unit.b-aside__forex-unit--usd 63,46
                .b-aside__forex-unit.b-aside__forex-unit--eur 75,98
        .b-aside__live-news
            .b-aside__live-news-wrapper
                .b-aside__live-news-scroll
                    .live-news.live-news--img
                        a(href='').live-news__item.live-news__item--fixed.live-news__item--fixed-img.js-news-fixed
                            .live-news__desc
                                .live-news__title Афиша Бийска на выходные 26 и 27 мая
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10
                            .live-news__pic
                                +img(img1)

                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Сколько зарабатывают и чем владеют бийские чиновники и депутаты
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10
                            .live-news__pic
                                +img(img2)
                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Что нового покажут барнаульцам в «Ночь музеев»?
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10
                            .live-news__pic
                                +img(img3)

                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Коллектор на проводе: как быть, если вас достают звонками о несуществующих задолженностях
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10
                            .live-news__pic
                                +img(img4)
                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Бийские гребцы перенесли тренировочную базу с городского пляжа
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10
                            .live-news__pic
                                +img(img5)


                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Сколько зарабатывают и чем владеют бийские чиновники и депутаты
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10
                            .live-news__pic
                                +img(img2)
                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Что нового покажут барнаульцам в «Ночь музеев»?
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10
                            .live-news__pic
                                +img(img3)

                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Коллектор на проводе: как быть, если вас достают звонками о несуществующих задолженностях
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10
                            .live-news__pic
                                +img(img4)
                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Бийские гребцы перенесли тренировочную базу с городского пляжа
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10
                            .live-news__pic
                                +img(img5)


                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Сколько зарабатывают и чем владеют бийские чиновники и депутаты
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10
                            .live-news__pic
                                +img(img2)
                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Что нового покажут барнаульцам в «Ночь музеев»?
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10
                            .live-news__pic
                                +img(img3)

                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Коллектор на проводе: как быть, если вас достают звонками о несуществующих задолженностях
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10
                            .live-news__pic
                                +img(img4)
                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Бийские гребцы перенесли тренировочную базу с городского пляжа
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10
                            .live-news__pic
                                +img(img5)


                    .b-aside__more Показать еще

