aside.b-aside(data-0="top: 150px;height: calc(100% - 150px); )"  data-300="top: 0px;height: calc(100% - 0px);")
    .b-aside__wrap
        .b-aside__header
            .b-aside__weather.js-weather
                .icon
                span +24
            .b-aside__forex
                .b-aside__forex-unit.b-aside__forex-unit--usd 63,46
                .b-aside__forex-unit.b-aside__forex-unit--eur 75,98
        .b-aside__live-news
            .b-aside__live-news-wrapper
                .b-aside__live-news-scroll
                    .live-news
                        a(href='').live-news__item.live-news__item--fixed.js-news-fixed
                            .live-news__desc
                                .live-news__title Афиша Бийска на выходные 26 и 27 мая
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10

                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Сколько зарабатывают и чем владеют бийские чиновники и депутаты
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10
                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Что нового покажут барнаульцам в «Ночь музеев»?
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10

                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Коллектор на проводе: как быть, если вас достают звонками о несуществующих задолженностях
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10

                        a(href='').live-news__comerse

                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Бийские гребцы перенесли тренировочную базу с городского пляжа
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10

                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Сколько зарабатывают и чем владеют бийские чиновники и депутаты
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10
                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Что нового покажут барнаульцам в «Ночь музеев»?
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10

                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Жириновск или Рио-де-Жиринейро, разлад в семье Трампов и автоугонщики
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10
                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Что нового покажут барнаульцам в «Ночь музеев»?
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10

                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Жириновск или Рио-де-Жиринейро, разлад в семье Трампов и автоугонщики
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10
                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Что нового покажут барнаульцам в «Ночь музеев»?
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10

                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Жириновск или Рио-де-Жиринейро, разлад в семье Трампов и автоугонщики
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10
                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Что нового покажут барнаульцам в «Ночь музеев»?
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10

                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Жириновск или Рио-де-Жиринейро, разлад в семье Трампов и автоугонщики
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10
                        a(href='').live-news__item
                            .live-news__desc
                                .live-news__title Алтайский край вошел в число регионов с недостаточной безопасностью дорог
                                .live-news__date 26 апреля 2018
                            .live-news__comments.comments.comments--black 10

                    .b-aside__more Показать еще


