footer.b-footer
    .container
        .b-footer__wrap
            .b-footer__top
                .b-footer__logo
                .b-footer__menu
                    a(href='') Доктор
                    a(href='') Клиники
                    a(href='') Женщинам
                    a(href='') Мужчинам
                    a(href='') Фото до и после
                    a(href='') Отзывы
                    a(href='') Расрочка
                    a(href='') Контакты
                .b-footer__social
                    include ../blocks/_social
            .b-footer__center
                .b-footer__sub-menu
                    p
                        a(href='') Пластическая хирургия
                        a(href='') Эндокринная хирургия
                        a(href='') Сердечно-сосудистая хирургия
                    p
                        a(href='') О нас
                        a(href='') Новости клиники
                        a(href='') Согласия  на обработку данных
                        a(href='') Согласие на использование сайта
                .b-footer__center-right
                    .b-footer__phone
                        a(href='tel:') +7 (495) 118 - 2511
                        a(href='tel:') +7 (495) 118 - 2511
                    .b-footer__center-bottom
                        a(href='').b-footer__call Запись на консультацию
                        a(href='mailto:info@doctorproff.ru').b-footer__email info@doctorproff.ru

            .b-footer__bottom
                .b-footer__copy doctorproff © 2018
                .b-footer__city г. Москва

