-var img1 = './images/main/header-icon.jpg'

.b-header.b-header--size-lg
    .container
        .b-header__wrap
            .b-header__part
                a(href='').b-header__logo
                .b-header__hamburgers
            .b-header__social
                include ../blocks/_social
            a(href='tel:+74951182511').b-header__phone-mobile
            .b-header__phone
                a(href='tel:+74951182511') +7 (495) 118 - 2511
                .b-header__phone-arrow
                p
                    a(href='tel:+79169906297') +7 (916) 990 - 6297
                    span (what’s app / viber)
            .b-header__part
                a(href='mailto:').b-header__email
                .b-header__lang
                    a(href='').b-header__lang-item En
                    //a(href='').b-header__lang-item.b-header__lang-item--active En
                .b-header__button Запись на консультацию
        .b-header__menu
            .b-header__menu-wrap
                a(href='') Главная
                a(href='') Доктор
                a(href='') Клиника
                a(href='') Услуги и цены
                a(href='') Отзывы
                a(href='') Рассрочка
                a(href='') Контакты



