.b-pagination
    .b-pagination__wrap
        .b-pagination__arrow.b-pagination__arrow--prev.b-pagination__arrow--disabled
        .b-pagination__number
            .b-pagination__item 1
            .b-pagination__item.b-pagination__item--active 2
            .b-pagination__item 3
            .b-pagination__item 4
            .b-pagination__item 5
        .b-pagination__arrow.b-pagination__arrow--next
