.b-top-commers
    .b-top-commers__timer До мача Урунгай - Россия осталось:
        b#clockdiv
            span.days
            span.days-text
            span.hours
            span.hours-text
            span.minutes
            span.minutes-text мин.
