.social.social--detail
    a(href='').social__item.social__item--favorite
    a(href='').social__item.social__item--vk
    a(href='').social__item.social__item--tw
    a(href='').social__item.social__item--fb
    a(href='').social__item.social__item--ok

